{{#with this as |entries|}}

<table style="width:100%">
  <thead>
    <tr>
      {{#eachkey entries}}
        <th>
          <a href="#a">{{ this }}</a>
        </th>
      {{/eachkey}}
    </tr>
  </thead>
  <tbody>
    {{#each entries as |entry|}}
      <tr>
        {{#eachbykey entries entry}}
          <td>{{ this }}</td>
        {{/eachbykey}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
  </tfoot>
</table>

{{/with}}