<div>

  <p>OCI with immediate addressing (parameters of instructions in subsequent byte(s))</p>
  
  <h4><u>Registers</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size (in bytes)</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>gp_reg</code></td><td>8</td><td>General-purpose registers</td></tr>
      <tr><td><code>acc</code></td><td>1</td><td>Accumulator used in arithmetic/logic instructions</td></tr>
      <tr><td><code>dataPtr</code></td><td>2</td><td>Data pointer which can address entire memory</td></tr>
      <tr><td><code>flags</code></td><td>1</td><td>Set of 8 flags; only used for carry as of yet</td></tr>
      <tr><td><code>stackPtr</code></td><td>1</td><td>Stack pointer which can address entire stack</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>ram</code></td><td><i>flexible</i></td><td><i>yes</i></td><td>Read/writable memory for both instructions and data</td></tr>
      <tr><td><code>stack</code></td><td>256</td><td></td><td>Stack used for pushing/popping register or memory values</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>00000</td><td><code>movR_DH</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies high byte of <code>dataPtr</code> into given register</td></tr>
      <tr><td>00001</td><td><code>movDH_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register into high byte of <code>dataPtr</code></td></tr>
      <tr><td>00010</td><td><code>movR_DL</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies low byte of <code>dataPtr</code> into given register</td></tr>
      <tr><td>00011</td><td><code>movDL_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register into low byte of <code>dataPtr</code></td></tr>
      <tr><td>00100</td><td><code>movR_DPtr</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies 1 byte from memory where <code>dataPtr</code> points, into given register</td></tr>
      <tr><td>00101</td><td><code>moviR_DPtr</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies 1 byte from memory where <code>dataPtr</code> points, into given register, and increases <code>dataPtr</code></td></tr>
      <tr><td>00110</td><td><code>movDPtr_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register to the memory where <code>dataPtr</code> points</td></tr>
      <tr><td>00111</td><td><code>moviDPtr_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register to the memory where <code>dataPtr</code> points, and increases <code>dataPtr</code></td></tr>
      <tr><td>01000</td><td><code>movR_Next</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies next byte after call into given register</td></tr>
      <tr><td>01001</td><td><code>movR_A</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies <code>acc</code> into given register</td></tr>
      <tr><td>01010</td><td><code>movA_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies given register into <code>acc</code></td></tr>
      <tr><td>01011</td><td><code>xchA_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Exchanges values of <code>acc</code> and given register</td></tr>
      <tr><td>01100000</td><td><code>movA_DH</code></td><td>transfer</td><td><code></code></td><td>Copies high byte of <code>dataPtr</code> into <code>acc</code></td></tr>
      <tr><td>01100001</td><td><code>movA_DL</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> into high byte of <code>dataPtr</code></td></tr>
      <tr><td>01100010</td><td><code>movDH_A</code></td><td>transfer</td><td><code></code></td><td>Copies low byte of <code>dataPtr</code> into <code>acc</code></td></tr>
      <tr><td>01100011</td><td><code>movDL_A</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> into low byte of <code>dataPtr</code></td></tr>
      <tr><td>01100100</td><td><code>movA_DPtr</code></td><td>transfer</td><td><code></code></td><td>Copies 1 byte from memory where <code>dataPtr</code> points, into <code>acc</code></td></tr>
      <tr><td>01100101</td><td><code>moviA_DPtr</code></td><td>transfer</td><td><code></code></td><td>Copies 1 byte from memory where <code>dataPtr</code> points, into <code>acc</code>, and increases <code>dataPtr</code></td></tr>
      <tr><td>01100110</td><td><code>movDPtr_A</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> to the memory where <code>dataPtr</code> points</td></tr>
      <tr><td>01100111</td><td><code>moviDPtr_A</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> to the memory where <code>dataPtr</code> points, and increases <code>dataPtr</code></td></tr>
      <tr><td>01101000</td><td><code>xchA_DPtr</code></td><td>transfer</td><td><code></code></td><td>Exchanges values of <code>acc</code> and the memory where <code>dataPtr</code> points</td></tr>
      <tr><td>01101001</td><td><code>xchiA_DPtr</code></td><td>transfer</td><td><code></code></td><td>Exchanges values of <code>acc</code> and the memory where <code>dataPtr</code> points, and increases <code>dataPtr</code></td></tr>
      <tr><td>01101010</td><td><code>movDPtr_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next byte after call into memory where <code>dataPtr</code> points</td></tr>
      <tr><td>01101011</td><td><code>movDH_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next byte after call into high byte of <code>dataPtr</code></td></tr>
      <tr><td>01101100</td><td><code>movDL_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next byte after call into low byte of <code>dataPtr</code></td></tr>
      <tr><td>01101101</td><td><code>movA_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next byte after call into <code>acc</code></td></tr>
      <tr><td>01101110</td><td><code>cplC</code></td><td>arithmetic</td><td><code></code></td><td>Inverts value of carry flag</td></tr>
      <tr><td>01101111</td><td><code>inc_A</code></td><td>arithmetic</td><td><code></code></td><td>Increments value of <code>acc</code></td></tr>
      <tr><td>01110</td><td><code>inc_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Increments value of a given register</td></tr>
      <tr><td>01111</td><td><code>dec_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Decrements value of a given register</td></tr>
      <tr><td>10000000</td><td><code>dec_A</code></td><td>arithmetic</td><td><code></code></td><td>Decrements value of <code>acc</code></td></tr>
      <tr><td>10000001</td><td><code>inc_D</code></td><td>arithmetic</td><td><code></code></td><td>Increments value of <code>dataPtr</code></td></tr>
      <tr><td>10000010</td><td><code>dec_D</code></td><td>arithmetic</td><td><code></code></td><td>Decrements value of <code>dataPtr</code></td></tr>
      <tr><td>10000011</td><td><code>cplA</code></td><td>arithmetic</td><td><code></code></td><td>Inverts value of <code>acc</code> bitwise</td></tr>
      <tr><td>10000100</td><td><code>anlA_Next</code></td><td>arithmetic</td><td><code></code></td><td>Performs bitwise and between <code>acc</code> and next byte after call</td></tr>
      <tr><td>10000101</td><td><code>orlA_Next</code></td><td>arithmetic</td><td><code></code></td><td>Performs bitwise or between <code>acc</code> and next byte after call</td></tr>
      <tr><td>10000110</td><td><code>anlA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Performs bitwise and between <code>acc</code> and memory where <code>dataPtr</code> points</td></tr>
      <tr><td>10000111</td><td><code>orlA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Performs bitwise or between <code>acc</code> and memory where <code>dataPtr</code> points</td></tr>
      <tr><td>10001</td><td><code>anlA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Performs bitwise and between <code>acc</code> and given register</td></tr>
      <tr><td>10010</td><td><code>orlA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Performs bitwise or between <code>acc</code> and given register</td></tr>
      <tr><td>10011</td><td><code>addA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Adds value of given register to <code>acc</code></td></tr>
      <tr><td>10100</td><td><code>addcA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Adds value of given register to <code>acc</code>, with carry</td></tr>
      <tr><td>10101</td><td><code>subA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Subtracts value of given register from <code>acc</code></td></tr>
      <tr><td>10110</td><td><code>subbA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Subtracts value of given register from <code>acc</code>, with borrow</td></tr>
      <tr><td>10111000</td><td><code>addA_Next</code></td><td>arithmetic</td><td><code></code></td><td>Adds value of next byte after call to <code>acc</code></td></tr>
      <tr><td>10111001</td><td><code>addcA_Next</code></td><td>arithmetic</td><td><code></code></td><td>Adds value of next byte after call to <code>acc</code>, with carry</td></tr>
      <tr><td>10111010</td><td><code>subA_Next</code></td><td>arithmetic</td><td><code></code></td><td>Subtracts value of next byte after call from <code>acc</code></td></tr>
      <tr><td>10111011</td><td><code>subbA_Next</code></td><td>arithmetic</td><td><code></code></td><td>Subtracts value of next byte after call from <code>acc</code>, with borrow</td></tr>
      <tr><td>10111100</td><td><code>addA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Adds value of memory where <code>dataPtr</code> points to <code>acc</code></td></tr>
      <tr><td>10111101</td><td><code>addcA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Adds value of memory where <code>dataPtr</code> points to <code>acc</code>, with carry</td></tr>
      <tr><td>10111110</td><td><code>subA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Subtracts value of memory where <code>dataPtr</code> points from <code>acc</code></td></tr>
      <tr><td>10111111</td><td><code>subbA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Subtracts value of memory where <code>dataPtr</code> points from <code>acc</code>, with borrow</td></tr>
      <tr><td>11000000</td><td><code>rlA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> left with 1 bit</td></tr>
      <tr><td>11000001</td><td><code>rrA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> right with 1 bit</td></tr>
      <tr><td>11000010</td><td><code>rlcA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> left with 1 bit, using carry flag</td></tr>
      <tr><td>11000011</td><td><code>rrcA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> right with 1 bit, using carry flag</td></tr>
      <tr><td>11000100</td><td><code>pushDH</code></td><td>machine</td><td><code></code></td><td>Pushes high byte of <code>dataPtr</code> to stack</td></tr>
      <tr><td>11000101</td><td><code>popDH</code></td><td>machine</td><td><code></code></td><td>Pops high byte of <code>dataPtr</code> from stack</td></tr>
      <tr><td>11000110</td><td><code>pushDL</code></td><td>machine</td><td><code></code></td><td>Pushes low byte of <code>dataPtr</code> to stack</td></tr>
      <tr><td>11000111</td><td><code>popDL</code></td><td>machine</td><td><code></code></td><td>Pops low byte of <code>dataPtr</code> from stack</td></tr>
      <tr><td>11001000</td><td><code>pushA</code></td><td>machine</td><td><code></code></td><td>Pushes value of <code>acc</code> to stack</td></tr>
      <tr><td>11001001</td><td><code>popA</code></td><td>machine</td><td><code></code></td><td>Pops value of <code>acc</code> from stack</td></tr>
      <tr><td>11001010</td><td><code>sjmpNext</code></td><td>branching</td><td><code></code></td><td>Short jumps program counter with value of next byte</td></tr>
      <tr><td>11001011</td><td><code>jmpNext</code></td><td>branching</td><td><code></code></td><td>Absolute jumps to memory address given by next 2 bytes</td></tr>
      <tr><td>11001100</td><td><code>jmpD</code></td><td>branching</td><td><code></code></td><td>Absolute jumps to value of <code>dataPtr</code></td></tr>
      <tr><td>11001101</td><td><code>callD</code></td><td>branching</td><td><code></code></td><td>Pushes program counter, and then <code>jmpD</code></td></tr>
      <tr><td>11001110</td><td><code>callNext</code></td><td>branching</td><td><code></code></td><td>Pushes program counter, and then <code>jmpNext</code></td></tr>
      <tr><td>11001111</td><td><code>ret</code></td><td>branching</td><td><code></code></td><td>Pops program counter from stack</td></tr>
      <tr><td>11010000</td><td><code>jnc_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if carry bit is not set</td></tr>
      <tr><td>11010001</td><td><code>jc_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if carry bit is set</td></tr>
      <tr><td>11010010</td><td><code>sjnc_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if carry bit is not set</td></tr>
      <tr><td>11010011</td><td><code>sjc_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if carry bit is set</td></tr>
      <tr><td>11010100</td><td><code>jnc_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if carry bit is not set</td></tr>
      <tr><td>11010101</td><td><code>jc_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if carry bit is set</td></tr>
      <tr><td>11010110</td><td><code>jnzA_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if <code>acc</code> is not zero</td></tr>
      <tr><td>11010111</td><td><code>jzA_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if <code>acc</code> is zero</td></tr>
      <tr><td>11011000</td><td><code>sjnzA_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if <code>acc</code> is not zero</td></tr>
      <tr><td>11011001</td><td><code>sjzA_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if <code>acc</code> is zero</td></tr>
      <tr><td>11011010</td><td><code>jnzA_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if <code>acc</code> is not zero</td></tr>
      <tr><td>11011011</td><td><code>jzA_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if <code>acc</code> is zero</td></tr>
      <tr><td>11011100</td><td><code>csjneA_Next_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if <code>acc</code> and next byte are not equal</td></tr>
      <tr><td>11011101</td><td><code>cjneA_Next_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if <code>acc</code> and next byte are not equal</td></tr>
      <tr><td>11011110</td><td><code>cjneA_Next_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if <code>acc</code> and next byte are not equal</td></tr>
      <tr><td>11011111</td><td><code>halt</code></td><td>machine</td><td><code></code></td><td>Signals the VM to halt</td></tr>
      <tr><td>11100</td><td><code>outR</code></td><td>output</td><td><code>r:3</code></td><td>Outputs the value of a given register</td></tr>
      <tr><td>11101</td><td><code>outDPtr</code></td><td>output</td><td><code>n:3</code></td><td>Outputs next <i>n</i> bytes from where <code>dataPtr</code> points</td></tr>
      <tr><td>11110</td><td><code>outiDPtr</code></td><td>output</td><td><code>n:3</code></td><td>Outputs next <i>n</i> bytes from where <code>dataPtr</code> points, and increases <code>dataPtr</code> with <i>n</i></td></tr>
      <tr><td>11111</td><td><code>outNext</code></td><td>output</td><td><code>n:3</code></td><td>Outputs next <i>n</i> bytes from memory</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>