<div>

  <p>OCI with no immediate addressing, every instruction is exactly 8 bits</p>
  
  <h4><u>Registers</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size (in bytes)</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>gp_reg</code></td><td>8</td><td>General-purpose registers</td></tr>
      <tr><td><code>acc</code></td><td>1</td><td>Accumulator used in arithmetic/logic instructions</td></tr>
      <tr><td><code>dataPtr</code></td><td>2</td><td>Data pointer which can address entire memory</td></tr>
      <tr><td><code>flags</code></td><td>1</td><td>Set of 8 flags; only used for carry as of yet</td></tr>
      <tr><td><code>stackPtr</code></td><td>1</td><td>Stack pointer which can address entire stack</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>ram</code></td><td><i>flexible</i></td><td><i>yes</i></td><td>Read/writable memory for both instructions and data</td></tr>
      <tr><td><code>stack</code></td><td>256</td><td></td><td>Stack used for pushing/popping register values</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>00000</td><td><code>movR_DH</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies high byte of <code>dataPtr</code> into given register</td></tr>
      <tr><td>00001</td><td><code>movDH_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register into high byte of <code>dataPtr</code></td></tr>
      <tr><td>00010</td><td><code>movR_DL</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies low byte of <code>dataPtr</code> into given register</td></tr>
      <tr><td>00011</td><td><code>movDL_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register into low byte of <code>dataPtr</code></td></tr>
      <tr><td>00100</td><td><code>movR_DPtr</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies 1 byte from memory where <code>dataPtr</code> points, into given register</td></tr>
      <tr><td>00101</td><td><code>movDPtr_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies value of given register to the memory where <code>dataPtr</code> points</td></tr>
      <tr><td>00110</td><td><code>movR_A</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies <code>acc</code> into given register</td></tr>
      <tr><td>00111</td><td><code>movA_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Copies given register into <code>acc</code></td></tr>
      <tr><td>01000</td><td><code>xchA_R</code></td><td>transfer</td><td><code>r:3</code></td><td>Exchanges values of <code>acc</code> and given register</td></tr>
      <tr><td>01001000</td><td><code>movA_DH</code></td><td>transfer</td><td><code></code></td><td>Copies high byte of <code>dataPtr</code> into <code>acc</code></td></tr>
      <tr><td>01001001</td><td><code>movA_DL</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> into high byte of <code>dataPtr</code></td></tr>
      <tr><td>01001010</td><td><code>movDH_A</code></td><td>transfer</td><td><code></code></td><td>Copies low byte of <code>dataPtr</code> into <code>acc</code></td></tr>
      <tr><td>01001011</td><td><code>movDL_A</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> into low byte of <code>dataPtr</code></td></tr>
      <tr><td>01001100</td><td><code>movA_DPtr</code></td><td>transfer</td><td><code></code></td><td>Copies 1 byte from memory where <code>dataPtr</code> points, into <code>acc</code></td></tr>
      <tr><td>01001101</td><td><code>movDPtr_A</code></td><td>transfer</td><td><code></code></td><td>Copies value of <code>acc</code> to the memory where <code>dataPtr</code> points</td></tr>
      <tr><td>01001110</td><td><code>cplC</code></td><td>arithmetic</td><td><code></code></td><td>Inverts value of carry flag</td></tr>
      <tr><td>01001111</td><td><code>inc_A</code></td><td>arithmetic</td><td><code></code></td><td>Increments value of <code>acc</code></td></tr>
      <tr><td>01010000</td><td><code>dec_A</code></td><td>arithmetic</td><td><code></code></td><td>Decrements value of <code>acc</code></td></tr>
      <tr><td>01010001</td><td><code>inc_D</code></td><td>arithmetic</td><td><code></code></td><td>Increments value of <code>dataPtr</code></td></tr>
      <tr><td>01010010</td><td><code>dec_D</code></td><td>arithmetic</td><td><code></code></td><td>Decrements value of <code>dataPtr</code></td></tr>
      <tr><td>01010011</td><td><code>cplA</code></td><td>arithmetic</td><td><code></code></td><td>Inverts value of <code>acc</code> bitwise</td></tr>
      <tr><td>010101</td><td><code>anlA_RPtr</code></td><td>arithmetic</td><td><code>rp:2</code></td><td>Performs bitwise and between <code>acc</code> and memory memory where given register points</td></tr>
      <tr><td>01011</td><td><code>anlA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Performs bitwise and between <code>acc</code> and given register</td></tr>
      <tr><td>01100</td><td><code>orlA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Performs bitwise or between <code>acc</code> and given register</td></tr>
      <tr><td>01101</td><td><code>addA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Adds value of given register to <code>acc</code></td></tr>
      <tr><td>01110</td><td><code>addcA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Adds value of given register to <code>acc</code>, with carry</td></tr>
      <tr><td>01111</td><td><code>subA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Subtracts value of given register from <code>acc</code></td></tr>
      <tr><td>10000</td><td><code>subbA_R</code></td><td>arithmetic</td><td><code>r:3</code></td><td>Subtracts value of given register from <code>acc</code>, with borrow</td></tr>
      <tr><td>100010</td><td><code>orlA_RPtr</code></td><td>arithmetic</td><td><code>rp:2</code></td><td>Performs bitwise or between <code>acc</code> and memory memory where given register points</td></tr>
      <tr><td>10001100</td><td><code>anlA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Performs bitwise and between <code>acc</code> and memory where <code>dataPtr</code> points</td></tr>
      <tr><td>10001101</td><td><code>orlA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Performs bitwise or between <code>acc</code> and memory where <code>dataPtr</code> points</td></tr>
      <tr><td>10001110</td><td><code>addA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Adds value of memory where <code>dataPtr</code> points to <code>acc</code></td></tr>
      <tr><td>10001111</td><td><code>addcA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Adds value of memory where <code>dataPtr</code> points to <code>acc</code>, with carry</td></tr>
      <tr><td>100100</td><td><code>addA_RPtr</code></td><td>arithmetic</td><td><code>rp:2</code></td><td>Adds value of memory where given register points to <code>acc</code></td></tr>
      <tr><td>100101</td><td><code>addcA_RPtr</code></td><td>arithmetic</td><td><code>rp:2</code></td><td>Adds value of memory where given register points to <code>acc</code>, with carry</td></tr>
      <tr><td>100110</td><td><code>subA_RPtr</code></td><td>arithmetic</td><td><code>rp:2</code></td><td>Subtracts value of memory where given register points from <code>acc</code></td></tr>
      <tr><td>100111</td><td><code>subbA_RPtr</code></td><td>arithmetic</td><td><code>rp:2</code></td><td>Subtracts value of memory where given register points from <code>acc</code>, with borrow</td></tr>
      <tr><td>10100000</td><td><code>subA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Subtracts value of memory where <code>dataPtr</code> points from <code>acc</code></td></tr>
      <tr><td>10100001</td><td><code>subbA_DPtr</code></td><td>arithmetic</td><td><code></code></td><td>Subtracts value of memory where <code>dataPtr</code> points from <code>acc</code>, with borrow</td></tr>
      <tr><td>10100010</td><td><code>rlA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> left with 1 bit</td></tr>
      <tr><td>10100011</td><td><code>rrA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> right with 1 bit</td></tr>
      <tr><td>10100100</td><td><code>rlcA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> left with 1 bit, using carry flag</td></tr>
      <tr><td>10100101</td><td><code>rrcA</code></td><td>arithmetic</td><td><code></code></td><td>Rotates <code>acc</code> right with 1 bit, using carry flag</td></tr>
      <tr><td>10100110</td><td><code>pushDH</code></td><td>machine</td><td><code></code></td><td>Pushes high byte of <code>dataPtr</code> to stack</td></tr>
      <tr><td>10100111</td><td><code>popDH</code></td><td>machine</td><td><code></code></td><td>Pops high byte of <code>dataPtr</code> from stack</td></tr>
      <tr><td>10101000</td><td><code>pushDL</code></td><td>machine</td><td><code></code></td><td>Pushes low byte of <code>dataPtr</code> to stack</td></tr>
      <tr><td>10101001</td><td><code>popDL</code></td><td>machine</td><td><code></code></td><td>Pops low byte of <code>dataPtr</code> from stack</td></tr>
      <tr><td>10101010</td><td><code>pushA</code></td><td>machine</td><td><code></code></td><td>Pushes value of <code>acc</code> to stack</td></tr>
      <tr><td>10101011</td><td><code>popA</code></td><td>machine</td><td><code></code></td><td>Pops value of <code>acc</code> from stack</td></tr>
      <tr><td>101011</td><td><code>pushR</code></td><td>machine</td><td><code>r:2</code></td><td>Pushes value of a register to stack</td></tr>
      <tr><td>101100</td><td><code>popR</code></td><td>machine</td><td><code>r:2</code></td><td>Pops value of a register from stack</td></tr>
      <tr><td>101101</td><td><code>sjmpR</code></td><td>branching</td><td><code>r:2</code></td><td>Short jumps program counter with value of register (R0-R3)</td></tr>
      <tr><td>101110</td><td><code>jmpR</code></td><td>branching</td><td><code>rp:2</code></td><td>Absolute jumps to memory address given by pair of registers</td></tr>
      <tr><td>10111100</td><td><code>jmpD</code></td><td>branching</td><td><code></code></td><td>Absolute jumps to value of <code>dataPtr</code></td></tr>
      <tr><td>10111101</td><td><code>callD</code></td><td>branching</td><td><code></code></td><td>Pushes program counter, and then <code>jmpD</code></td></tr>
      <tr><td>10111110</td><td><code>ret</code></td><td>branching</td><td><code></code></td><td>Pops program counter from stack</td></tr>
      <tr><td>10111111</td><td><code>jnc_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if carry bit is not set</td></tr>
      <tr><td>110000</td><td><code>scallR</code></td><td>branching</td><td><code>r:2</code></td><td>Pushes program counter, and then <code>sjmpR</code></td></tr>
      <tr><td>110001</td><td><code>callR</code></td><td>branching</td><td><code>rp:2</code></td><td>Pushes program counter, and then <code>jmpR</code></td></tr>
      <tr><td>11001000</td><td><code>jc_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if carry bit is set</td></tr>
      <tr><td>11001001</td><td><code>jnzA_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if <code>acc</code> is not zero</td></tr>
      <tr><td>11001010</td><td><code>jzA_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if <code>acc</code> is zero</td></tr>
      <tr><td>11001011</td><td><code>halt</code></td><td>machine</td><td><code></code></td><td>Signals the VM to halt</td></tr>
      <tr><td>110011</td><td><code>sjnc_R</code></td><td>branching</td><td><code>r:2</code></td><td><code>sjmpR</code> if carry bit is not set</td></tr>
      <tr><td>110100</td><td><code>sjc_R</code></td><td>branching</td><td><code>r:2</code></td><td><code>sjmpR</code> if carry bit is set</td></tr>
      <tr><td>110101</td><td><code>jnc_R</code></td><td>branching</td><td><code>rp:2</code></td><td><code>jmpR</code> if carry bit is not set</td></tr>
      <tr><td>110110</td><td><code>jc_R</code></td><td>branching</td><td><code>rp:2</code></td><td><code>jmpR</code> if carry bit is set</td></tr>
      <tr><td>110111</td><td><code>sjnzA_R</code></td><td>branching</td><td><code>r:2</code></td><td><code>sjmpR</code> if <code>acc</code> is not zero</td></tr>
      <tr><td>111000</td><td><code>sjzA_R</code></td><td>branching</td><td><code>r:2</code></td><td><code>sjmpR</code> if <code>acc</code> is zero</td></tr>
      <tr><td>111001</td><td><code>jnzA_R</code></td><td>branching</td><td><code>rp:2</code></td><td><code>jmpR</code> if <code>acc</code> is not zero</td></tr>
      <tr><td>111010</td><td><code>jzA_R</code></td><td>branching</td><td><code>rp:2</code></td><td><code>jmpR</code> if <code>acc</code> is zero</td></tr>
      <tr><td>111011</td><td><code>outRPtr</code></td><td>output</td><td><code>rp:2</code></td><td>Outputs byte from where a pair of registers is pointing</td></tr>
      <tr><td>11110</td><td><code>outR</code></td><td>output</td><td><code>r:3</code></td><td>Outputs the value of a given register</td></tr>
      <tr><td>11111</td><td><code>outDPtr</code></td><td>output</td><td><code>n:3</code></td><td>Outputs next <i>n</i> bytes from where <code>dataPtr</code> points</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>