<div>

  <p></p>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>ram</code></td><td><i>flexible</i></td><td><i>yes</i></td><td></td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>0000</td><td><code>mov_a_addr</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>0001</td><td><code>mov_b_addr</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>0010</td><td><code>mov_addr_a</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>0011</td><td><code>mov_addr_b</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>0100</td><td><code>mov_addrl_a</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>0101</td><td><code>mov_addrh_a</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>011</td><td><code>jnc_addr</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>1000</td><td><code>subb</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>1001</td><td><code>cpl_a</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>1010</td><td><code>clr_c</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>1011</td><td><code>cpl_c</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>1100</td><td><code>andl</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>1101</td><td><code>norl</code></td><td>default</td><td><code></code></td><td></td></tr>
      <tr><td>111</td><td><code>out_a</code></td><td>output</td><td><code></code></td><td></td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>