<div>

  <p>DSL interpreter for music generation</p>
  
  <h4><u>Properties</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>isMajor</code></td><td>flag</td><td>Represents if output pieces should be in major or minor</td></tr>
      <tr><td><code>diatonic</code></td><td>flag</td><td>Flag saying the pitch output of the VM is read as diatonic</td></tr>
      <tr><td><code>key</code></td><td>1</td><td>Represents the key the output pieces will be interpreted as</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Registers</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size (in bytes)</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>gp_reg</code></td><td>6</td><td>General-purpose registers</td></tr>
      <tr><td><code>dataPtr</code></td><td>2</td><td>Data pointer which can address entire memory</td></tr>
      <tr><td><code>flag</code></td><td>1</td><td>Flag used for branching instructions</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>ram</code></td><td><i>flexible</i></td><td><i>yes</i></td><td></td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>000000</td><td><code>movNote_Next</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies next byte into nth note</td></tr>
      <tr><td>0000010</td><td><code>movNote_Next_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies next byte into nth note</td></tr>
      <tr><td>0000011</td><td><code>movNoteDur_Next_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies next byte as duration of nth note</td></tr>
      <tr><td>000010</td><td><code>movNoteDur_Next</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies next byte as duration of nth note</td></tr>
      <tr><td>000011</td><td><code>movNotePth_Next</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies next byte as pitch of nth note</td></tr>
      <tr><td>0001000</td><td><code>movNotePth_Next_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies next byte as pitch of nth note</td></tr>
      <tr><td>0001001</td><td><code>movNote_DPtr_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies 1 byte from where <code>dataPtr</code> points into nth note</td></tr>
      <tr><td>000101</td><td><code>movNote_DPtr</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies 1 byte from where <code>dataPtr</code> points into nth note</td></tr>
      <tr><td>000110</td><td><code>movNoteDur_DPtr</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies 1 byte from where <code>dataPtr</code> points as duration of nth note</td></tr>
      <tr><td>0001110</td><td><code>movNoteDur_DPtr_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies 1 byte from where <code>dataPtr</code> points as duration of nth note</td></tr>
      <tr><td>0001111</td><td><code>movNotePth_DPtr_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies 1 byte from where <code>dataPtr</code> points as pitch of nth note</td></tr>
      <tr><td>001000</td><td><code>movNotePth_DPtr</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies 1 byte from where <code>dataPtr</code> points as pitch of nth note</td></tr>
      <tr><td>001001</td><td><code>movDPtr_Note</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies 1 byte from nth note to where <code>dataPtr</code> points</td></tr>
      <tr><td>0010100</td><td><code>movDPtr_Note_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies 1 byte from nth note to where <code>dataPtr</code> points</td></tr>
      <tr><td>0010101</td><td><code>movDPtr_NoteDur_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies 1 byte from duration of nth note to where <code>dataPtr</code> points</td></tr>
      <tr><td>001011</td><td><code>movDPtr_NoteDur</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies 1 byte from duration of nth note to where <code>dataPtr</code> points</td></tr>
      <tr><td>001100</td><td><code>movDPtr_NotePth</code></td><td>transfer</td><td><code>n:2</code></td><td>Copies 1 byte from pitch of nth note to where <code>dataPtr</code> points</td></tr>
      <tr><td>0011010</td><td><code>movDPtr_NotePth_b</code></td><td>transfer</td><td><code>n:1</code></td><td>Copies 1 byte from pitch of nth note to where <code>dataPtr</code> points</td></tr>
      <tr><td>00110110</td><td><code>movD_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next 2 bytes to `dataPtr</td></tr>
      <tr><td>00110111</td><td><code>movDH_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next 1 byte into high byte of <code>dataPtr</code></td></tr>
      <tr><td>00111000</td><td><code>movDL_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next 1 byte into low byte of <code>dataPtr</code></td></tr>
      <tr><td>00111001</td><td><code>movDPtr_Next</code></td><td>transfer</td><td><code></code></td><td>Copies next 1 byte to where <code>dataPtr</code> points</td></tr>
      <tr><td>00111010</td><td><code>movFlag_Next</code></td><td>transfer</td><td><code></code></td><td>Set flag based on last bit of next byte</td></tr>
      <tr><td>00111011</td><td><code>movFlag_DPtr</code></td><td>transfer</td><td><code></code></td><td>Set flag based on last bit of where <code>dataPtr</code> points</td></tr>
      <tr><td>001111</td><td><code>reset_Dur</code></td><td>arithmetic</td><td><code>n:2</code></td><td>Resets duration of given note to default value</td></tr>
      <tr><td>0100000</td><td><code>reset_Dur_b</code></td><td>arithmetic</td><td><code>n:1</code></td><td>Resets duration of given note to default value</td></tr>
      <tr><td>0100001</td><td><code>reset_Pitch_b</code></td><td>arithmetic</td><td><code>n:1</code></td><td>Resets pitch of given note to default value</td></tr>
      <tr><td>010001</td><td><code>reset_Pitch</code></td><td>arithmetic</td><td><code>n:2</code></td><td>Resets pitch of given note to default value</td></tr>
      <tr><td>01001</td><td><code>inc_DurDbl</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Doubles duration of note (unless max)</td></tr>
      <tr><td>010100</td><td><code>inc_DurDbl_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Doubles duration of note (unless max)</td></tr>
      <tr><td>010101</td><td><code>inc_DurDot_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Adds/removes dotted duration of note</td></tr>
      <tr><td>01011</td><td><code>inc_DurDot</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Adds/removes dotted duration of note</td></tr>
      <tr><td>01100</td><td><code>dec_DurHalve</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Halves duration of note (unless 1)</td></tr>
      <tr><td>011010</td><td><code>dec_DurHalve_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Halves duration of note (unless 1)</td></tr>
      <tr><td>011011</td><td><code>inc_Pitch2_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Increments pitch of note by second (major or minor depending on key)</td></tr>
      <tr><td>01110</td><td><code>inc_Pitch2</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Increments pitch of note by second (major or minor depending on key)</td></tr>
      <tr><td>01111</td><td><code>inc_Pitch3</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Increments pitch of note by third (major or minor depending on key)</td></tr>
      <tr><td>100000</td><td><code>inc_Pitch3_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Increments pitch of note by third (major or minor depending on key)</td></tr>
      <tr><td>100001</td><td><code>inc_Pitch4_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Increments pitch of note by perfect fourth</td></tr>
      <tr><td>10001</td><td><code>inc_Pitch4</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Increments pitch of note by perfect fourth</td></tr>
      <tr><td>10010</td><td><code>inc_Pitch5</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Increments pitch of note by perfect fifth</td></tr>
      <tr><td>100110</td><td><code>inc_Pitch5_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Increments pitch of note by perfect fifth</td></tr>
      <tr><td>100111</td><td><code>inc_Pitch8_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Increments pitch of note by octave</td></tr>
      <tr><td>10100</td><td><code>inc_Pitch8</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Increments pitch of note by octave</td></tr>
      <tr><td>10101</td><td><code>dec_Pitch2</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Decrements pitch of note by second (major or minor depending on key)</td></tr>
      <tr><td>101100</td><td><code>dec_Pitch2_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Decrements pitch of note by second (major or minor depending on key)</td></tr>
      <tr><td>101101</td><td><code>dec_Pitch3_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Decrements pitch of note by third (major or minor depending on key)</td></tr>
      <tr><td>10111</td><td><code>dec_Pitch3</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Decrements pitch of note by third (major or minor depending on key)</td></tr>
      <tr><td>11000</td><td><code>dec_Pitch4</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Decrements pitch of note by perfect fourth</td></tr>
      <tr><td>110010</td><td><code>dec_Pitch4_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Decrements pitch of note by perfect fourth</td></tr>
      <tr><td>110011</td><td><code>dec_Pitch5_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Decrements pitch of note by perfect fifth</td></tr>
      <tr><td>11010</td><td><code>dec_Pitch5</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Decrements pitch of note by perfect fifth</td></tr>
      <tr><td>11011</td><td><code>dec_Pitch8</code></td><td>arithmetic</td><td><code>o:1, n:2</code></td><td>Decrements pitch of note by octave</td></tr>
      <tr><td>111000</td><td><code>dec_Pitch8_b</code></td><td>arithmetic</td><td><code>o:1, n:1</code></td><td>Decrements pitch of note by octave</td></tr>
      <tr><td>11100100</td><td><code>setFlag</code></td><td>arithmetic</td><td><code></code></td><td>Set flag to true</td></tr>
      <tr><td>11100101</td><td><code>unsetFlag</code></td><td>arithmetic</td><td><code></code></td><td>Set flag to false</td></tr>
      <tr><td>11100110</td><td><code>invertFlag</code></td><td>arithmetic</td><td><code></code></td><td>Invert value of flag</td></tr>
      <tr><td>11100111</td><td><code>jmpD</code></td><td>branching</td><td><code></code></td><td>Absolute jumps to value of <code>dataPtr</code></td></tr>
      <tr><td>1110100</td><td><code>inc_D</code></td><td>arithmetic</td><td><code>d:1</code></td><td>Increments value of <code>dataPtr</code></td></tr>
      <tr><td>1110101</td><td><code>dec_D</code></td><td>arithmetic</td><td><code>d:1</code></td><td>Decrements value of <code>dataPtr</code></td></tr>
      <tr><td>11101100</td><td><code>sjmpNext</code></td><td>branching</td><td><code></code></td><td>Short jumps program counter with value of next byte</td></tr>
      <tr><td>11101101</td><td><code>jmpNext</code></td><td>branching</td><td><code></code></td><td>Absolute jumps to memory address given by next 2 bytes</td></tr>
      <tr><td>11101110</td><td><code>sjmpDH</code></td><td>branching</td><td><code></code></td><td>Short jumps program counter with value of high byte of <code>dataPtr</code></td></tr>
      <tr><td>11101111</td><td><code>sjmpDL</code></td><td>branching</td><td><code></code></td><td>Short jumps program counter with value of low byte of <code>dataPtr</code></td></tr>
      <tr><td>11110000</td><td><code>jnf_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if flag is not set</td></tr>
      <tr><td>11110001</td><td><code>jf_D</code></td><td>branching</td><td><code></code></td><td><code>jmpD</code> if flag is set</td></tr>
      <tr><td>11110010</td><td><code>sjnf_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if flag is not set</td></tr>
      <tr><td>11110011</td><td><code>sjf_Next</code></td><td>branching</td><td><code></code></td><td><code>sjmpNext</code> if flag is set</td></tr>
      <tr><td>11110100</td><td><code>jnf_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if flag is not set</td></tr>
      <tr><td>11110101</td><td><code>jf_Next</code></td><td>branching</td><td><code></code></td><td><code>jmpNext</code> if flag is set</td></tr>
      <tr><td>11110110</td><td><code>sjnf_DH</code></td><td>branching</td><td><code></code></td><td><code>sjmpDH</code> if flag is not set</td></tr>
      <tr><td>11110111</td><td><code>sjf_DH</code></td><td>branching</td><td><code></code></td><td><code>sjmpDH</code> if flag is set</td></tr>
      <tr><td>11111000</td><td><code>sjnf_DL</code></td><td>branching</td><td><code></code></td><td><code>sjmpDL</code> if flag is not set</td></tr>
      <tr><td>11111001</td><td><code>sjf_DL</code></td><td>branching</td><td><code></code></td><td><code>sjmpDL</code> if flag is set</td></tr>
      <tr><td>1111101</td><td><code>outNote_b</code></td><td>output</td><td><code>n:1</code></td><td>Outputs the value of a note</td></tr>
      <tr><td>111111</td><td><code>outNote</code></td><td>output</td><td><code>n:2</code></td><td>Outputs the value of a note</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>