<div>

  <p>One-instruction set computer (OISC) using SBNZ and the Harvard architecture</p>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>ram</code></td><td><i>flexible</i></td><td></td><td>Read/writable memory for data</td></tr>
      <tr><td><code>rom</code></td><td><i>flexible</i></td><td><i>yes</i></td><td>Read-only memory for instructions</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td><td><code>sbnz</code></td><td>default</td><td><code></code></td><td><code>SBNZ AddrA, AddrB, AddrC, AddrD</code>: Subtract value at <code>ram[AddrB]</code> from value at <code>ram[AddrA]</code>; store result in <code>ram[AddrC]</code>; if result was not zero, branch to <code>AddrD</code>; if underflow occurred, output <code>ram[addrA]+ram[addrB]</code>.</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>