<div>

  <p></p>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>rom</code></td><td><i>flexible</i></td><td><i>yes</i></td><td>Read-only memory for instructions</td></tr>
      <tr><td><code>stack</code></td><td><i>flexible</i></td><td></td><td>Read/writable memory for stackdata</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>000</td><td><code>dup</code></td><td>default</td><td><code></code></td><td>Duplicate the stack top. This is the only way to allocate stack space. </td></tr>
      <tr><td>001</td><td><code>one</code></td><td>default</td><td><code></code></td><td>Shift the stack top left one bit, shifting one into the least significant bit. </td></tr>
      <tr><td>010</td><td><code>zero</code></td><td>default</td><td><code></code></td><td>Shift the stack top left one bit, shifting zero into the least significant bit.</td></tr>
      <tr><td>011</td><td><code>load</code></td><td>default</td><td><code></code></td><td>Use the value on the stack top as a memory address; replace it with the contents of the referenced location. </td></tr>
      <tr><td>100</td><td><code>pop</code></td><td>default</td><td><code></code></td><td>Store the value from the top of the stack in the memory location referenced by the second word on the stack; pop both. </td></tr>
      <tr><td>101</td><td><code>sub</code></td><td>default</td><td><code></code></td><td>Subtract the top value on the stack from the value below it, pop both and push the result. </td></tr>
      <tr><td>110</td><td><code>jpos</code></td><td>default</td><td><code></code></td><td>If the word below the stack top is positive, jump to the word pointed to by the stack top. In any case, pop both. </td></tr>
      <tr><td>111</td><td><code>out</code></td><td>output</td><td><code></code></td><td>Write the value of the stack top to the output</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>