<div>

  <p>OCI for testing and demonstration purposes</p>
  
  <h4><u>Registers</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size (in bytes)</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>gp_reg</code></td><td>8</td><td>General-purpose registers</td></tr>
      <tr><td><code>acc</code></td><td>1</td><td></td></tr>
      <tr><td><code>dptr</code></td><td>2</td><td></td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Memory segments</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Name</a></th>
        <th><a href="#a">Size</a></th>
        <th><a href="#a">Used for instructions</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>ram</code></td><td><i>flexible</i></td><td><i>yes</i></td><td></td></tr>
      <tr><td><code>stack</code></td><td>16</td><td></td><td></td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h4><u>Instruction set</u></h4>
  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Opcode prefix</a></th>
        <th><a href="#a">Instruction name</a></th>
        <th><a href="#a">Category</a></th>
        <th><a href="#a">Params</a></th>
        <th><a href="#a">Description</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>00</td><td><code>a</code></td><td>first</td><td><code></code></td><td>test method a</td></tr>
      <tr><td>01</td><td><code>b</code></td><td>first</td><td><code>r1:3</code></td><td>test method b</td></tr>
      <tr><td>1000</td><td><code>c</code></td><td>first</td><td><code></code></td><td>test method c</td></tr>
      <tr><td>1001</td><td><code>d</code></td><td>first</td><td><code></code></td><td>test method d</td></tr>
      <tr><td>1010</td><td><code>e</code></td><td>output</td><td><code></code></td><td>test method e</td></tr>
      <tr><td>10110</td><td><code>f</code></td><td>output</td><td><code>r1:3</code></td><td>test method f</td></tr>
      <tr><td>10111</td><td><code>g</code></td><td>output</td><td><code></code></td><td>test method g</td></tr>
      <tr><td>11</td><td><code>h</code></td><td>output</td><td><code>r1:3</code></td><td>test method h</td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <p>&nbsp;</p>
  
  <div>