<div>
  <p>The below MIDI files are cropped versions of results over different test runs.</p>

  <table style="width:100%" class="sortable">
    <thead>
      <tr>
        <th><a href="#a">Time stamp</a></th>
        <th><a href="#a">Crop times</a></th>
        <th><a href="#a">Download link</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td>20190202-142600</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.647_ind0474.mid">Download</a></td></tr>
      <tr><td>20190202-152400</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.596_ind0291.mid">Download</a></td></tr>
      <tr><td>20190202-183400</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.486_ind0406.mid">Download</a></td></tr>
      <tr><td>20190202-195500</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.792_ind0243.mid">Download</a></td></tr>
      <tr><td>20190202-211800</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.609_ind0223.mid">Download</a></td></tr>
      <tr><td>20190131-211300</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.733_ind0230.mid">Download</a></td></tr>
      <tr><td>20190131-142600</td><td>uncropped</td><td><a href="midi/halloffame/emc_score0.790_ind0473.mid">Download</a></td></tr>
      <tr><td>20150816-130139</td><td>0.0s-20.0s</td><td><a href="midi/halloffame/emc_time20150816-130139_cropped_0.0_20.0.mid">Download</a></td></tr>
      <tr><td>20150710-112128</td><td>40.8s-73.5s</td><td><a href="midi/halloffame/emc_time20150710-112128_cropped_40.8_73.5.mid">Download</a></td></tr>
      <tr><td>20150710-023924</td><td>48.0s-63.8s</td><td><a href="midi/halloffame/emc_time20150710-023924_cropped_48.0_63.8.mid">Download</a></td></tr>
      <tr><td>20150710-003250</td><td>0.0s-65.0s</td><td><a href="midi/halloffame/emc_time20150710-003250_cropped_0.0_65.0.mid">Download</a></td></tr>
      <tr><td>20150710-003240</td><td>38.3s-60.0s</td><td><a href="midi/halloffame/emc_time20150710-003240_cropped_38.3_60.0.mid">Download</a></td></tr>
      <tr><td>20150703-010317</td><td>67.5s-101.5s</td><td><a href="midi/halloffame/emc_time20150703-010317_cropped_67.5_101.5.mid">Download</a></td></tr>
      <tr><td>20150629-011147</td><td>8.2s-21.8s</td><td><a href="midi/halloffame/emc_time20150629-011147_cropped_8.2_21.8.mid">Download</a></td></tr>
      <tr><td>20150315-021548</td><td>3.0s-15.0s</td><td><a href="midi/halloffame/emc_time20150315-021548_cropped_3.0_15.0.mid">Download</a></td></tr>
      <tr><td>20150315-020236</td><td>0.0s-61.0s</td><td><a href="midi/halloffame/emc_time20150315-020236_cropped_0.0_61.0.mid">Download</a></td></tr>
      <tr><td>20150315-005932</td><td>6.5s-23.0s</td><td><a href="midi/halloffame/emc_time20150315-005932_cropped_6.5_23.0.mid">Download</a></td></tr>
      <tr><td>20150315-003711</td><td>66.0s-95.8s</td><td><a href="midi/halloffame/emc_time20150315-003711_cropped_66.0_95.8.mid">Download</a></td></tr>
      <tr><td>20150315-000716</td><td>0.0s-28.0s</td><td><a href="midi/halloffame/emc_time20150315-000716_cropped_0.0_28.0.mid">Download</a></td></tr>
      <tr><td>20150314-235255</td><td>0.0s-77.0s</td><td><a href="midi/halloffame/emc_time20150314-235255_cropped_0.0_77.0.mid">Download</a></td></tr>
      <tr><td>20150314-220100</td><td>1.5s-14.5s</td><td><a href="midi/halloffame/emc_time20150314-220100_cropped_1.5_14.5.mid">Download</a></td></tr>
      <tr><td>20150307-170800</td><td>9.0s-78.0s</td><td><a href="midi/halloffame/emc_time20150307-170800_cropped_9.0_78.0.mid">Download</a></td></tr>
      <tr><td>20150305-193500</td><td>53.0s-93.0s</td><td><a href="midi/halloffame/emc_time20150305-193500_cropped_53.0_93.0.mid">Download</a></td></tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>