    <table style="width:100%" class="sortable">
      <thead>
        <tr>
          <th><a href="#a">Time stamp</a></th>
          <th><a href="#a">Instruction set</a></th>
          <th><a href="#a">VM Architecture</a></th>
          <th><a href="#a">Memory size</a></th>
          <th><a href="#a">Generation</a></th>
          <th><a href="#a">Grade</a></th>
          <th><a href="#a">Download link</a></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>20170409-131458</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.711</td><td><a href="midi/ecal2017/emc-ecal2017-score0.711-ociImmediateHarvard-mem65536-time20170409-131458.mid">Download</a></td></tr>
    <tr><td>20170410-060644</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.602</td><td><a href="midi/ecal2017/emc-ecal2017-score0.602-ociSingleRisc-mem256-time20170410-060644.mid">Download</a></td></tr>
    <tr><td>20170408-070137</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.489</td><td><a href="midi/ecal2017/emc-ecal2017-score0.489-ociStackHarvard-mem65536-time20170408-070137.mid">Download</a></td></tr>
    <tr><td>20170408-134127</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.752</td><td><a href="midi/ecal2017/emc-ecal2017-score0.752-ociImmediate-mem256-time20170408-134127.mid">Download</a></td></tr>
    <tr><td>20170410-012516</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.494</td><td><a href="midi/ecal2017/emc-ecal2017-score0.494-ociSingleRisc-mem65536-time20170410-012516.mid">Download</a></td></tr>
    <tr><td>20170408-154305</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.499</td><td><a href="midi/ecal2017/emc-ecal2017-score0.499-ociStackHarvard-mem65536-time20170408-154305.mid">Download</a></td></tr>
    <tr><td>20170409-194209</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.440</td><td><a href="midi/ecal2017/emc-ecal2017-score0.440-ociSingleRiscHarvard-mem65536-time20170409-194209.mid">Download</a></td></tr>
    <tr><td>20170410-072028</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.507</td><td><a href="midi/ecal2017/emc-ecal2017-score0.507-ociSingleRiscHarvard-mem4096-time20170410-072028.mid">Download</a></td></tr>
    <tr><td>20170408-012251</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.818</td><td><a href="midi/ecal2017/emc-ecal2017-score0.818-ociImmediate-mem4096-time20170408-012251.mid">Download</a></td></tr>
    <tr><td>20170409-085928</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.707</td><td><a href="midi/ecal2017/emc-ecal2017-score0.707-ociImmediateHarvard-mem4096-time20170409-085928.mid">Download</a></td></tr>
    <tr><td>20170408-042442</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.502</td><td><a href="midi/ecal2017/emc-ecal2017-score0.502-ociStackHarvard-mem4096-time20170408-042442.mid">Download</a></td></tr>
    <tr><td>20170409-110619</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.692</td><td><a href="midi/ecal2017/emc-ecal2017-score0.692-ociImmediateHarvard-mem256-time20170409-110619.mid">Download</a></td></tr>
    <tr><td>20170409-194312</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.475</td><td><a href="midi/ecal2017/emc-ecal2017-score0.475-ociSingleRiscHarvard-mem65536-time20170409-194312.mid">Download</a></td></tr>
    <tr><td>20170409-101945</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.696</td><td><a href="midi/ecal2017/emc-ecal2017-score0.696-ociImmediateHarvard-mem256-time20170409-101945.mid">Download</a></td></tr>
    <tr><td>20170409-233656</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.584</td><td><a href="midi/ecal2017/emc-ecal2017-score0.584-ociStack-mem65536-time20170409-233656.mid">Download</a></td></tr>
    <tr><td>20170409-213413</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.466</td><td><a href="midi/ecal2017/emc-ecal2017-score0.466-ociSingleRisc-mem4096-time20170409-213413.mid">Download</a></td></tr>
    <tr><td>20170410-072813</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.504</td><td><a href="midi/ecal2017/emc-ecal2017-score0.504-ociSingleRiscHarvard-mem65536-time20170410-072813.mid">Download</a></td></tr>
    <tr><td>20170410-060603</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.439</td><td><a href="midi/ecal2017/emc-ecal2017-score0.439-ociSingleRisc-mem4096-time20170410-060603.mid">Download</a></td></tr>
    <tr><td>20170408-042620</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.692</td><td><a href="midi/ecal2017/emc-ecal2017-score0.692-ociImmediate-mem4096-time20170408-042620.mid">Download</a></td></tr>
    <tr><td>20170408-025825</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.629</td><td><a href="midi/ecal2017/emc-ecal2017-score0.629-ociImmediate-mem256-time20170408-025825.mid">Download</a></td></tr>
    <tr><td>20170408-091420</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.542</td><td><a href="midi/ecal2017/emc-ecal2017-score0.542-ociStackHarvard-mem256-time20170408-091420.mid">Download</a></td></tr>
    <tr><td>20170410-083525</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.484</td><td><a href="midi/ecal2017/emc-ecal2017-score0.484-ociSingleRisc-mem4096-time20170410-083525.mid">Download</a></td></tr>
    <tr><td>20170408-022849</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.525</td><td><a href="midi/ecal2017/emc-ecal2017-score0.525-ociStackHarvard-mem256-time20170408-022849.mid">Download</a></td></tr>
    <tr><td>20170408-164650</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.558</td><td><a href="midi/ecal2017/emc-ecal2017-score0.558-ociStackHarvard-mem65536-time20170408-164650.mid">Download</a></td></tr>
    <tr><td>20170408-090238</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.550</td><td><a href="midi/ecal2017/emc-ecal2017-score0.550-ociStackHarvard-mem4096-time20170408-090238.mid">Download</a></td></tr>
    <tr><td>20170407-173239</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.637</td><td><a href="midi/ecal2017/emc-ecal2017-score0.637-ociImmediate-mem4096-time20170407-173239.mid">Download</a></td></tr>
    <tr><td>20170409-191149</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.630</td><td><a href="midi/ecal2017/emc-ecal2017-score0.630-ociSingleRiscHarvard-mem256-time20170409-191149.mid">Download</a></td></tr>
    <tr><td>20170410-020915</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.518</td><td><a href="midi/ecal2017/emc-ecal2017-score0.518-ociSingleRiscHarvard-mem65536-time20170410-020915.mid">Download</a></td></tr>
    <tr><td>20170410-003343</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.595</td><td><a href="midi/ecal2017/emc-ecal2017-score0.595-ociStack-mem65536-time20170410-003343.mid">Download</a></td></tr>
    <tr><td>20170408-150647</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.623</td><td><a href="midi/ecal2017/emc-ecal2017-score0.623-ociImmediate-mem256-time20170408-150647.mid">Download</a></td></tr>
    <tr><td>20170410-022151</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.476</td><td><a href="midi/ecal2017/emc-ecal2017-score0.476-ociSingleRisc-mem4096-time20170410-022151.mid">Download</a></td></tr>
    <tr><td>20170408-023148</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.483</td><td><a href="midi/ecal2017/emc-ecal2017-score0.483-ociStackHarvard-mem4096-time20170408-023148.mid">Download</a></td></tr>
    <tr><td>20170408-104607</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.498</td><td><a href="midi/ecal2017/emc-ecal2017-score0.498-ociStackHarvard-mem65536-time20170408-104607.mid">Download</a></td></tr>
    <tr><td>20170409-104008</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.477</td><td><a href="midi/ecal2017/emc-ecal2017-score0.477-ociImmediateHarvard-mem65536-time20170409-104008.mid">Download</a></td></tr>
    <tr><td>20170409-175923</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.675</td><td><a href="midi/ecal2017/emc-ecal2017-score0.675-ociImmediateHarvard-mem4096-time20170409-175923.mid">Download</a></td></tr>
    <tr><td>20170410-091527</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.433</td><td><a href="midi/ecal2017/emc-ecal2017-score0.433-ociSingleRiscHarvard-mem4096-time20170410-091527.mid">Download</a></td></tr>
    <tr><td>20170409-085927</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.512</td><td><a href="midi/ecal2017/emc-ecal2017-score0.512-ociImmediateHarvard-mem65536-time20170409-085927.mid">Download</a></td></tr>
    <tr><td>20170410-072554</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.527</td><td><a href="midi/ecal2017/emc-ecal2017-score0.527-ociSingleRiscHarvard-mem65536-time20170410-072554.mid">Download</a></td></tr>
    <tr><td>20170409-110047</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.681</td><td><a href="midi/ecal2017/emc-ecal2017-score0.681-ociImmediateHarvard-mem256-time20170409-110047.mid">Download</a></td></tr>
    <tr><td>20170407-232338</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.697</td><td><a href="midi/ecal2017/emc-ecal2017-score0.697-ociImmediate-mem4096-time20170407-232338.mid">Download</a></td></tr>
    <tr><td>20170408-040543</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.691</td><td><a href="midi/ecal2017/emc-ecal2017-score0.691-ociImmediate-mem65536-time20170408-040543.mid">Download</a></td></tr>
    <tr><td>20170410-013830</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.560</td><td><a href="midi/ecal2017/emc-ecal2017-score0.560-ociStack-mem256-time20170410-013830.mid">Download</a></td></tr>
    <tr><td>20170408-184846</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.556</td><td><a href="midi/ecal2017/emc-ecal2017-score0.556-ociStackHarvard-mem65536-time20170408-184846.mid">Download</a></td></tr>
    <tr><td>20170409-185411</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.608</td><td><a href="midi/ecal2017/emc-ecal2017-score0.608-ociStack-mem256-time20170409-185411.mid">Download</a></td></tr>
    <tr><td>20170410-102358</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.683</td><td><a href="midi/ecal2017/emc-ecal2017-score0.683-ociSingleRiscHarvard-mem256-time20170410-102358.mid">Download</a></td></tr>
    <tr><td>20170407-173251</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.687</td><td><a href="midi/ecal2017/emc-ecal2017-score0.687-ociImmediate-mem256-time20170407-173251.mid">Download</a></td></tr>
    <tr><td>20170410-051607</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.577</td><td><a href="midi/ecal2017/emc-ecal2017-score0.577-ociStack-mem256-time20170410-051607.mid">Download</a></td></tr>
    <tr><td>20170408-092637</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.656</td><td><a href="midi/ecal2017/emc-ecal2017-score0.656-ociImmediate-mem4096-time20170408-092637.mid">Download</a></td></tr>
    <tr><td>20170408-003744</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.679</td><td><a href="midi/ecal2017/emc-ecal2017-score0.679-ociImmediate-mem256-time20170408-003744.mid">Download</a></td></tr>
    <tr><td>20170409-225511</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.388</td><td><a href="midi/ecal2017/emc-ecal2017-score0.388-ociSingleRisc-mem65536-time20170409-225511.mid">Download</a></td></tr>
    <tr><td>20170409-204815</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.444</td><td><a href="midi/ecal2017/emc-ecal2017-score0.444-ociStack-mem4096-time20170409-204815.mid">Download</a></td></tr>
    <tr><td>20170410-092002</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.490</td><td><a href="midi/ecal2017/emc-ecal2017-score0.490-ociSingleRisc-mem4096-time20170410-092002.mid">Download</a></td></tr>
    <tr><td>20170409-180159</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.468</td><td><a href="midi/ecal2017/emc-ecal2017-score0.468-ociSingleRisc-mem65536-time20170409-180159.mid">Download</a></td></tr>
    <tr><td>20170408-180650</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.694</td><td><a href="midi/ecal2017/emc-ecal2017-score0.694-ociImmediate-mem256-time20170408-180650.mid">Download</a></td></tr>
    <tr><td>20170409-204549</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.575</td><td><a href="midi/ecal2017/emc-ecal2017-score0.575-ociStack-mem65536-time20170409-204549.mid">Download</a></td></tr>
    <tr><td>20170410-065946</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.565</td><td><a href="midi/ecal2017/emc-ecal2017-score0.565-ociSingleRisc-mem256-time20170410-065946.mid">Download</a></td></tr>
    <tr><td>20170410-045022</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.464</td><td><a href="midi/ecal2017/emc-ecal2017-score0.464-ociSingleRiscHarvard-mem65536-time20170410-045022.mid">Download</a></td></tr>
    <tr><td>20170409-202727</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.454</td><td><a href="midi/ecal2017/emc-ecal2017-score0.454-ociSingleRiscHarvard-mem4096-time20170409-202727.mid">Download</a></td></tr>
    <tr><td>20170409-175913</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.670</td><td><a href="midi/ecal2017/emc-ecal2017-score0.670-ociImmediateHarvard-mem4096-time20170409-175913.mid">Download</a></td></tr>
    <tr><td>20170409-115234</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.679</td><td><a href="midi/ecal2017/emc-ecal2017-score0.679-ociImmediateHarvard-mem256-time20170409-115234.mid">Download</a></td></tr>
    <tr><td>20170409-232127</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.475</td><td><a href="midi/ecal2017/emc-ecal2017-score0.475-ociSingleRiscHarvard-mem4096-time20170409-232127.mid">Download</a></td></tr>
    <tr><td>20170409-153100</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.463</td><td><a href="midi/ecal2017/emc-ecal2017-score0.463-ociImmediateHarvard-mem65536-time20170409-153100.mid">Download</a></td></tr>
    <tr><td>20170408-080745</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.485</td><td><a href="midi/ecal2017/emc-ecal2017-score0.485-ociStackHarvard-mem4096-time20170408-080745.mid">Download</a></td></tr>
    <tr><td>20170410-050959</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.439</td><td><a href="midi/ecal2017/emc-ecal2017-score0.439-ociSingleRisc-mem65536-time20170410-050959.mid">Download</a></td></tr>
    <tr><td>20170410-042929</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.598</td><td><a href="midi/ecal2017/emc-ecal2017-score0.598-ociSingleRiscHarvard-mem256-time20170410-042929.mid">Download</a></td></tr>
    <tr><td>20170410-092027</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.472</td><td><a href="midi/ecal2017/emc-ecal2017-score0.472-ociSingleRisc-mem256-time20170410-092027.mid">Download</a></td></tr>
    <tr><td>20170407-173215</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.661</td><td><a href="midi/ecal2017/emc-ecal2017-score0.661-ociImmediate-mem65536-time20170407-173215.mid">Download</a></td></tr>
    <tr><td>20170409-085939</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.600</td><td><a href="midi/ecal2017/emc-ecal2017-score0.600-ociImmediateHarvard-mem65536-time20170409-085939.mid">Download</a></td></tr>
    <tr><td>20170409-101809</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.708</td><td><a href="midi/ecal2017/emc-ecal2017-score0.708-ociImmediateHarvard-mem256-time20170409-101809.mid">Download</a></td></tr>
    <tr><td>20170410-032948</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.450</td><td><a href="midi/ecal2017/emc-ecal2017-score0.450-ociSingleRiscHarvard-mem256-time20170410-032948.mid">Download</a></td></tr>
    <tr><td>20170408-164018</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.502</td><td><a href="midi/ecal2017/emc-ecal2017-score0.502-ociStackHarvard-mem256-time20170408-164018.mid">Download</a></td></tr>
    <tr><td>20170409-115035</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.665</td><td><a href="midi/ecal2017/emc-ecal2017-score0.665-ociImmediateHarvard-mem256-time20170409-115035.mid">Download</a></td></tr>
    <tr><td>20170409-180153</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.391</td><td><a href="midi/ecal2017/emc-ecal2017-score0.391-ociSingleRisc-mem65536-time20170409-180153.mid">Download</a></td></tr>
    <tr><td>20170408-071009</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.489</td><td><a href="midi/ecal2017/emc-ecal2017-score0.489-ociStackHarvard-mem4096-time20170408-071009.mid">Download</a></td></tr>
    <tr><td>20170408-162600</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.498</td><td><a href="midi/ecal2017/emc-ecal2017-score0.498-ociStackHarvard-mem4096-time20170408-162600.mid">Download</a></td></tr>
    <tr><td>20170408-174946</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.557</td><td><a href="midi/ecal2017/emc-ecal2017-score0.557-ociStackHarvard-mem65536-time20170408-174946.mid">Download</a></td></tr>
    <tr><td>20170409-204708</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.622</td><td><a href="midi/ecal2017/emc-ecal2017-score0.622-ociSingleRisc-mem256-time20170409-204708.mid">Download</a></td></tr>
    <tr><td>20170409-180427</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.459</td><td><a href="midi/ecal2017/emc-ecal2017-score0.459-ociSingleRiscHarvard-mem65536-time20170409-180427.mid">Download</a></td></tr>
    <tr><td>20170408-115522</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.502</td><td><a href="midi/ecal2017/emc-ecal2017-score0.502-ociStackHarvard-mem4096-time20170408-115522.mid">Download</a></td></tr>
    <tr><td>20170409-222213</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.529</td><td><a href="midi/ecal2017/emc-ecal2017-score0.529-ociSingleRiscHarvard-mem256-time20170409-222213.mid">Download</a></td></tr>
    <tr><td>20170409-185442</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.586</td><td><a href="midi/ecal2017/emc-ecal2017-score0.586-ociStack-mem65536-time20170409-185442.mid">Download</a></td></tr>
    <tr><td>20170409-214046</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.527</td><td><a href="midi/ecal2017/emc-ecal2017-score0.527-ociSingleRisc-mem256-time20170409-214046.mid">Download</a></td></tr>
    <tr><td>20170408-135740</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.629</td><td><a href="midi/ecal2017/emc-ecal2017-score0.629-ociImmediate-mem256-time20170408-135740.mid">Download</a></td></tr>
    <tr><td>20170407-183320</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.688</td><td><a href="midi/ecal2017/emc-ecal2017-score0.688-ociImmediate-mem4096-time20170407-183320.mid">Download</a></td></tr>
    <tr><td>20170408-121216</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.528</td><td><a href="midi/ecal2017/emc-ecal2017-score0.528-ociStackHarvard-mem256-time20170408-121216.mid">Download</a></td></tr>
    <tr><td>20170410-015738</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.510</td><td><a href="midi/ecal2017/emc-ecal2017-score0.510-ociSingleRisc-mem256-time20170410-015738.mid">Download</a></td></tr>
    <tr><td>20170408-105628</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.482</td><td><a href="midi/ecal2017/emc-ecal2017-score0.482-ociStackHarvard-mem4096-time20170408-105628.mid">Download</a></td></tr>
    <tr><td>20170409-095536</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.667</td><td><a href="midi/ecal2017/emc-ecal2017-score0.667-ociImmediateHarvard-mem4096-time20170409-095536.mid">Download</a></td></tr>
    <tr><td>20170410-023314</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.438</td><td><a href="midi/ecal2017/emc-ecal2017-score0.438-ociStack-mem4096-time20170410-023314.mid">Download</a></td></tr>
    <tr><td>20170410-130711</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.535</td><td><a href="midi/ecal2017/emc-ecal2017-score0.535-ociSingleRiscHarvard-mem4096-time20170410-130711.mid">Download</a></td></tr>
    <tr><td>20170408-144934</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.676</td><td><a href="midi/ecal2017/emc-ecal2017-score0.676-ociImmediate-mem256-time20170408-144934.mid">Download</a></td></tr>
    <tr><td>20170408-174605</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.676</td><td><a href="midi/ecal2017/emc-ecal2017-score0.676-ociImmediate-mem65536-time20170408-174605.mid">Download</a></td></tr>
    <tr><td>20170409-233213</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.432</td><td><a href="midi/ecal2017/emc-ecal2017-score0.432-ociSingleRiscHarvard-mem65536-time20170409-233213.mid">Download</a></td></tr>
    <tr><td>20170410-085303</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.474</td><td><a href="midi/ecal2017/emc-ecal2017-score0.474-ociStack-mem256-time20170410-085303.mid">Download</a></td></tr>
    <tr><td>20170409-194815</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.476</td><td><a href="midi/ecal2017/emc-ecal2017-score0.476-ociSingleRisc-mem4096-time20170409-194815.mid">Download</a></td></tr>
    <tr><td>20170409-115649</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.598</td><td><a href="midi/ecal2017/emc-ecal2017-score0.598-ociImmediateHarvard-mem256-time20170409-115649.mid">Download</a></td></tr>
    <tr><td>20170408-111409</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.534</td><td><a href="midi/ecal2017/emc-ecal2017-score0.534-ociStackHarvard-mem256-time20170408-111409.mid">Download</a></td></tr>
    <tr><td>20170409-131508</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.477</td><td><a href="midi/ecal2017/emc-ecal2017-score0.477-ociImmediateHarvard-mem65536-time20170409-131508.mid">Download</a></td></tr>
    <tr><td>20170408-202726</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.683</td><td><a href="midi/ecal2017/emc-ecal2017-score0.683-ociImmediate-mem256-time20170408-202726.mid">Download</a></td></tr>
    <tr><td>20170408-135043</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.465</td><td><a href="midi/ecal2017/emc-ecal2017-score0.465-ociStackHarvard-mem4096-time20170408-135043.mid">Download</a></td></tr>
    <tr><td>20170408-075347</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.713</td><td><a href="midi/ecal2017/emc-ecal2017-score0.713-ociImmediate-mem65536-time20170408-075347.mid">Download</a></td></tr>
    <tr><td>20170410-060708</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.475</td><td><a href="midi/ecal2017/emc-ecal2017-score0.475-ociSingleRiscHarvard-mem65536-time20170410-060708.mid">Download</a></td></tr>
    <tr><td>20170410-083516</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.505</td><td><a href="midi/ecal2017/emc-ecal2017-score0.505-ociSingleRisc-mem256-time20170410-083516.mid">Download</a></td></tr>
    <tr><td>20170408-055635</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.554</td><td><a href="midi/ecal2017/emc-ecal2017-score0.554-ociImmediate-mem65536-time20170408-055635.mid">Download</a></td></tr>
    <tr><td>20170408-082627</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.676</td><td><a href="midi/ecal2017/emc-ecal2017-score0.676-ociImmediate-mem4096-time20170408-082627.mid">Download</a></td></tr>
    <tr><td>20170407-192940</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.696</td><td><a href="midi/ecal2017/emc-ecal2017-score0.696-ociImmediate-mem4096-time20170407-192940.mid">Download</a></td></tr>
    <tr><td>20170409-202800</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.487</td><td><a href="midi/ecal2017/emc-ecal2017-score0.487-ociSingleRisc-mem65536-time20170409-202800.mid">Download</a></td></tr>
    <tr><td>20170409-221828</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.497</td><td><a href="midi/ecal2017/emc-ecal2017-score0.497-ociStack-mem65536-time20170409-221828.mid">Download</a></td></tr>
    <tr><td>20170408-144455</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.677</td><td><a href="midi/ecal2017/emc-ecal2017-score0.677-ociImmediate-mem256-time20170408-144455.mid">Download</a></td></tr>
    <tr><td>20170409-131512</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.451</td><td><a href="midi/ecal2017/emc-ecal2017-score0.451-ociImmediateHarvard-mem65536-time20170409-131512.mid">Download</a></td></tr>
    <tr><td>20170408-163003</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.676</td><td><a href="midi/ecal2017/emc-ecal2017-score0.676-ociImmediate-mem256-time20170408-163003.mid">Download</a></td></tr>
    <tr><td>20170410-100404</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.450</td><td><a href="midi/ecal2017/emc-ecal2017-score0.450-ociSingleRisc-mem4096-time20170410-100404.mid">Download</a></td></tr>
    <tr><td>20170409-212017</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.491</td><td><a href="midi/ecal2017/emc-ecal2017-score0.491-ociStack-mem65536-time20170409-212017.mid">Download</a></td></tr>
    <tr><td>20170408-114103</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.615</td><td><a href="midi/ecal2017/emc-ecal2017-score0.615-ociImmediate-mem256-time20170408-114103.mid">Download</a></td></tr>
    <tr><td>20170409-153135</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.444</td><td><a href="midi/ecal2017/emc-ecal2017-score0.444-ociImmediateHarvard-mem65536-time20170409-153135.mid">Download</a></td></tr>
    <tr><td>20170409-120050</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.662</td><td><a href="midi/ecal2017/emc-ecal2017-score0.662-ociImmediateHarvard-mem4096-time20170409-120050.mid">Download</a></td></tr>
    <tr><td>20170408-132514</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.501</td><td><a href="midi/ecal2017/emc-ecal2017-score0.501-ociStackHarvard-mem65536-time20170408-132514.mid">Download</a></td></tr>
    <tr><td>20170410-131940</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.484</td><td><a href="midi/ecal2017/emc-ecal2017-score0.484-ociSingleRiscHarvard-mem256-time20170410-131940.mid">Download</a></td></tr>
    <tr><td>20170409-115248</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.608</td><td><a href="midi/ecal2017/emc-ecal2017-score0.608-ociImmediateHarvard-mem256-time20170409-115248.mid">Download</a></td></tr>
    <tr><td>20170410-070540</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.529</td><td><a href="midi/ecal2017/emc-ecal2017-score0.529-ociStack-mem256-time20170410-070540.mid">Download</a></td></tr>
    <tr><td>20170409-121933</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.673</td><td><a href="midi/ecal2017/emc-ecal2017-score0.673-ociImmediateHarvard-mem65536-time20170409-121933.mid">Download</a></td></tr>
    <tr><td>20170409-233325</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.542</td><td><a href="midi/ecal2017/emc-ecal2017-score0.542-ociSingleRisc-mem4096-time20170409-233325.mid">Download</a></td></tr>
    <tr><td>20170409-095855</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.659</td><td><a href="midi/ecal2017/emc-ecal2017-score0.659-ociImmediateHarvard-mem4096-time20170409-095855.mid">Download</a></td></tr>
    <tr><td>20170410-044209</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.517</td><td><a href="midi/ecal2017/emc-ecal2017-score0.517-ociStack-mem4096-time20170410-044209.mid">Download</a></td></tr>
    <tr><td>20170408-171330</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.494</td><td><a href="midi/ecal2017/emc-ecal2017-score0.494-ociStackHarvard-mem65536-time20170408-171330.mid">Download</a></td></tr>
    <tr><td>20170410-062156</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.466</td><td><a href="midi/ecal2017/emc-ecal2017-score0.466-ociSingleRiscHarvard-mem4096-time20170410-062156.mid">Download</a></td></tr>
    <tr><td>20170410-070001</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.449</td><td><a href="midi/ecal2017/emc-ecal2017-score0.449-ociSingleRisc-mem4096-time20170410-070001.mid">Download</a></td></tr>
    <tr><td>20170409-085940</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.663</td><td><a href="midi/ecal2017/emc-ecal2017-score0.663-ociImmediateHarvard-mem4096-time20170409-085940.mid">Download</a></td></tr>
    <tr><td>20170409-214409</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.462</td><td><a href="midi/ecal2017/emc-ecal2017-score0.462-ociSingleRisc-mem65536-time20170409-214409.mid">Download</a></td></tr>
    <tr><td>20170409-124822</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.583</td><td><a href="midi/ecal2017/emc-ecal2017-score0.583-ociImmediateHarvard-mem4096-time20170409-124822.mid">Download</a></td></tr>
    <tr><td>20170409-225759</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.434</td><td><a href="midi/ecal2017/emc-ecal2017-score0.434-ociSingleRisc-mem65536-time20170409-225759.mid">Download</a></td></tr>
    <tr><td>20170409-153120</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.524</td><td><a href="midi/ecal2017/emc-ecal2017-score0.524-ociImmediateHarvard-mem65536-time20170409-153120.mid">Download</a></td></tr>
    <tr><td>20170408-121817</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.592</td><td><a href="midi/ecal2017/emc-ecal2017-score0.592-ociImmediate-mem256-time20170408-121817.mid">Download</a></td></tr>
    <tr><td>20170410-013016</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.495</td><td><a href="midi/ecal2017/emc-ecal2017-score0.495-ociSingleRiscHarvard-mem4096-time20170410-013016.mid">Download</a></td></tr>
    <tr><td>20170410-075209</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.486</td><td><a href="midi/ecal2017/emc-ecal2017-score0.486-ociSingleRisc-mem4096-time20170410-075209.mid">Download</a></td></tr>
    <tr><td>20170410-023335</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.596</td><td><a href="midi/ecal2017/emc-ecal2017-score0.596-ociStack-mem65536-time20170410-023335.mid">Download</a></td></tr>
    <tr><td>20170409-093547</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.692</td><td><a href="midi/ecal2017/emc-ecal2017-score0.692-ociImmediateHarvard-mem256-time20170409-093547.mid">Download</a></td></tr>
    <tr><td>20170409-121843</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.428</td><td><a href="midi/ecal2017/emc-ecal2017-score0.428-ociImmediateHarvard-mem65536-time20170409-121843.mid">Download</a></td></tr>
    <tr><td>20170409-202524</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.441</td><td><a href="midi/ecal2017/emc-ecal2017-score0.441-ociSingleRisc-mem65536-time20170409-202524.mid">Download</a></td></tr>
    <tr><td>20170408-130539</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.539</td><td><a href="midi/ecal2017/emc-ecal2017-score0.539-ociStackHarvard-mem256-time20170408-130539.mid">Download</a></td></tr>
    <tr><td>20170410-072858</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.557</td><td><a href="midi/ecal2017/emc-ecal2017-score0.557-ociSingleRiscHarvard-mem256-time20170410-072858.mid">Download</a></td></tr>
    <tr><td>20170410-060904</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.460</td><td><a href="midi/ecal2017/emc-ecal2017-score0.460-ociSingleRiscHarvard-mem65536-time20170410-060904.mid">Download</a></td></tr>
    <tr><td>20170409-085930</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.496</td><td><a href="midi/ecal2017/emc-ecal2017-score0.496-ociImmediateHarvard-mem65536-time20170409-085930.mid">Download</a></td></tr>
    <tr><td>20170408-121743</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.578</td><td><a href="midi/ecal2017/emc-ecal2017-score0.578-ociImmediate-mem4096-time20170408-121743.mid">Download</a></td></tr>
    <tr><td>20170409-231457</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.622</td><td><a href="midi/ecal2017/emc-ecal2017-score0.622-ociSingleRiscHarvard-mem256-time20170409-231457.mid">Download</a></td></tr>
    <tr><td>20170410-022836</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.461</td><td><a href="midi/ecal2017/emc-ecal2017-score0.461-ociSingleRiscHarvard-mem4096-time20170410-022836.mid">Download</a></td></tr>
    <tr><td>20170409-101448</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.613</td><td><a href="midi/ecal2017/emc-ecal2017-score0.613-ociImmediateHarvard-mem4096-time20170409-101448.mid">Download</a></td></tr>
    <tr><td>20170408-043748</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.567</td><td><a href="midi/ecal2017/emc-ecal2017-score0.567-ociStackHarvard-mem65536-time20170408-043748.mid">Download</a></td></tr>
    <tr><td>20170408-210851</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.702</td><td><a href="midi/ecal2017/emc-ecal2017-score0.702-ociImmediate-mem256-time20170408-210851.mid">Download</a></td></tr>
    <tr><td>20170410-024010</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.596</td><td><a href="midi/ecal2017/emc-ecal2017-score0.596-ociStack-mem65536-time20170410-024010.mid">Download</a></td></tr>
    <tr><td>20170410-115304</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.507</td><td><a href="midi/ecal2017/emc-ecal2017-score0.507-ociSingleRisc-mem256-time20170410-115304.mid">Download</a></td></tr>
    <tr><td>20170410-091834</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.587</td><td><a href="midi/ecal2017/emc-ecal2017-score0.587-ociStack-mem4096-time20170410-091834.mid">Download</a></td></tr>
    <tr><td>20170409-221243</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.527</td><td><a href="midi/ecal2017/emc-ecal2017-score0.527-ociStack-mem256-time20170409-221243.mid">Download</a></td></tr>
    <tr><td>20170409-085130</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.656</td><td><a href="midi/ecal2017/emc-ecal2017-score0.656-ociImmediateHarvard-mem256-time20170409-085130.mid">Download</a></td></tr>
    <tr><td>20170410-102008</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.554</td><td><a href="midi/ecal2017/emc-ecal2017-score0.554-ociStack-mem4096-time20170410-102008.mid">Download</a></td></tr>
    <tr><td>20170410-035502</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.482</td><td><a href="midi/ecal2017/emc-ecal2017-score0.482-ociSingleRisc-mem65536-time20170410-035502.mid">Download</a></td></tr>
    <tr><td>20170410-084907</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.553</td><td><a href="midi/ecal2017/emc-ecal2017-score0.553-ociStack-mem4096-time20170410-084907.mid">Download</a></td></tr>
    <tr><td>20170409-193857</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.638</td><td><a href="midi/ecal2017/emc-ecal2017-score0.638-ociImmediateHarvard-mem4096-time20170409-193857.mid">Download</a></td></tr>
    <tr><td>20170409-195000</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.514</td><td><a href="midi/ecal2017/emc-ecal2017-score0.514-ociStack-mem4096-time20170409-195000.mid">Download</a></td></tr>
    <tr><td>20170408-032836</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.480</td><td><a href="midi/ecal2017/emc-ecal2017-score0.480-ociStackHarvard-mem4096-time20170408-032836.mid">Download</a></td></tr>
    <tr><td>20170409-085941</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.470</td><td><a href="midi/ecal2017/emc-ecal2017-score0.470-ociImmediateHarvard-mem65536-time20170409-085941.mid">Download</a></td></tr>
    <tr><td>20170409-185505</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.455</td><td><a href="midi/ecal2017/emc-ecal2017-score0.455-ociSingleRisc-mem4096-time20170409-185505.mid">Download</a></td></tr>
    <tr><td>20170408-003912</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.495</td><td><a href="midi/ecal2017/emc-ecal2017-score0.495-ociStackHarvard-mem4096-time20170408-003912.mid">Download</a></td></tr>
    <tr><td>20170409-195415</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.522</td><td><a href="midi/ecal2017/emc-ecal2017-score0.522-ociSingleRisc-mem256-time20170409-195415.mid">Download</a></td></tr>
    <tr><td>20170408-145326</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.534</td><td><a href="midi/ecal2017/emc-ecal2017-score0.534-ociStackHarvard-mem256-time20170408-145326.mid">Download</a></td></tr>
    <tr><td>20170408-022539</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.661</td><td><a href="midi/ecal2017/emc-ecal2017-score0.661-ociImmediate-mem4096-time20170408-022539.mid">Download</a></td></tr>
    <tr><td>20170410-005057</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.475</td><td><a href="midi/ecal2017/emc-ecal2017-score0.475-ociSingleRiscHarvard-mem65536-time20170410-005057.mid">Download</a></td></tr>
    <tr><td>20170410-050147</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.527</td><td><a href="midi/ecal2017/emc-ecal2017-score0.527-ociSingleRisc-mem256-time20170410-050147.mid">Download</a></td></tr>
    <tr><td>20170408-042532</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.540</td><td><a href="midi/ecal2017/emc-ecal2017-score0.540-ociStackHarvard-mem256-time20170408-042532.mid">Download</a></td></tr>
    <tr><td>20170408-095914</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.490</td><td><a href="midi/ecal2017/emc-ecal2017-score0.490-ociStackHarvard-mem4096-time20170408-095914.mid">Download</a></td></tr>
    <tr><td>20170408-131011</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.640</td><td><a href="midi/ecal2017/emc-ecal2017-score0.640-ociImmediate-mem65536-time20170408-131011.mid">Download</a></td></tr>
    <tr><td>20170410-000257</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.486</td><td><a href="midi/ecal2017/emc-ecal2017-score0.486-ociSingleRisc-mem256-time20170410-000257.mid">Download</a></td></tr>
    <tr><td>20170410-032744</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.513</td><td><a href="midi/ecal2017/emc-ecal2017-score0.513-ociSingleRiscHarvard-mem65536-time20170410-032744.mid">Download</a></td></tr>
    <tr><td>20170410-052329</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.514</td><td><a href="midi/ecal2017/emc-ecal2017-score0.514-ociSingleRiscHarvard-mem4096-time20170410-052329.mid">Download</a></td></tr>
    <tr><td>20170410-003501</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.543</td><td><a href="midi/ecal2017/emc-ecal2017-score0.543-ociStack-mem4096-time20170410-003501.mid">Download</a></td></tr>
    <tr><td>20170410-030731</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.463</td><td><a href="midi/ecal2017/emc-ecal2017-score0.463-ociSingleRisc-mem256-time20170410-030731.mid">Download</a></td></tr>
    <tr><td>20170409-101921</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.598</td><td><a href="midi/ecal2017/emc-ecal2017-score0.598-ociImmediateHarvard-mem256-time20170409-101921.mid">Download</a></td></tr>
    <tr><td>20170410-100507</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.483</td><td><a href="midi/ecal2017/emc-ecal2017-score0.483-ociSingleRisc-mem256-time20170410-100507.mid">Download</a></td></tr>
    <tr><td>20170410-033129</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.489</td><td><a href="midi/ecal2017/emc-ecal2017-score0.489-ociSingleRiscHarvard-mem65536-time20170410-033129.mid">Download</a></td></tr>
    <tr><td>20170410-113239</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.615</td><td><a href="midi/ecal2017/emc-ecal2017-score0.615-ociStack-mem256-time20170410-113239.mid">Download</a></td></tr>
    <tr><td>20170409-085120</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.674</td><td><a href="midi/ecal2017/emc-ecal2017-score0.674-ociImmediateHarvard-mem256-time20170409-085120.mid">Download</a></td></tr>
    <tr><td>20170407-231428</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.628</td><td><a href="midi/ecal2017/emc-ecal2017-score0.628-ociImmediate-mem65536-time20170407-231428.mid">Download</a></td></tr>
    <tr><td>20170408-021024</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.479</td><td><a href="midi/ecal2017/emc-ecal2017-score0.479-ociStackHarvard-mem65536-time20170408-021024.mid">Download</a></td></tr>
    <tr><td>20170410-031803</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.461</td><td><a href="midi/ecal2017/emc-ecal2017-score0.461-ociSingleRisc-mem4096-time20170410-031803.mid">Download</a></td></tr>
    <tr><td>20170410-001356</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.519</td><td><a href="midi/ecal2017/emc-ecal2017-score0.519-ociSingleRisc-mem65536-time20170410-001356.mid">Download</a></td></tr>
    <tr><td>20170410-003154</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.456</td><td><a href="midi/ecal2017/emc-ecal2017-score0.456-ociSingleRiscHarvard-mem4096-time20170410-003154.mid">Download</a></td></tr>
    <tr><td>20170410-000737</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.438</td><td><a href="midi/ecal2017/emc-ecal2017-score0.438-ociSingleRisc-mem65536-time20170410-000737.mid">Download</a></td></tr>
    <tr><td>20170409-101326</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.693</td><td><a href="midi/ecal2017/emc-ecal2017-score0.693-ociImmediateHarvard-mem4096-time20170409-101326.mid">Download</a></td></tr>
    <tr><td>20170409-110108</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.625</td><td><a href="midi/ecal2017/emc-ecal2017-score0.625-ociImmediateHarvard-mem4096-time20170409-110108.mid">Download</a></td></tr>
    <tr><td>20170410-010103</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.478</td><td><a href="midi/ecal2017/emc-ecal2017-score0.478-ociSingleRisc-mem256-time20170410-010103.mid">Download</a></td></tr>
    <tr><td>20170408-143508</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.498</td><td><a href="midi/ecal2017/emc-ecal2017-score0.498-ociStackHarvard-mem65536-time20170408-143508.mid">Download</a></td></tr>
    <tr><td>20170409-202056</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.592</td><td><a href="midi/ecal2017/emc-ecal2017-score0.592-ociSingleRiscHarvard-mem256-time20170409-202056.mid">Download</a></td></tr>
    <tr><td>20170410-032647</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.502</td><td><a href="midi/ecal2017/emc-ecal2017-score0.502-ociSingleRiscHarvard-mem4096-time20170410-032647.mid">Download</a></td></tr>
    <tr><td>20170408-005037</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.733</td><td><a href="midi/ecal2017/emc-ecal2017-score0.733-ociImmediate-mem65536-time20170408-005037.mid">Download</a></td></tr>
    <tr><td>20170410-003149</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.585</td><td><a href="midi/ecal2017/emc-ecal2017-score0.585-ociSingleRiscHarvard-mem256-time20170410-003149.mid">Download</a></td></tr>
    <tr><td>20170407-221557</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.678</td><td><a href="midi/ecal2017/emc-ecal2017-score0.678-ociImmediate-mem256-time20170407-221557.mid">Download</a></td></tr>
    <tr><td>20170408-051927</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.496</td><td><a href="midi/ecal2017/emc-ecal2017-score0.496-ociStackHarvard-mem4096-time20170408-051927.mid">Download</a></td></tr>
    <tr><td>20170408-204419</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.706</td><td><a href="midi/ecal2017/emc-ecal2017-score0.706-ociImmediate-mem65536-time20170408-204419.mid">Download</a></td></tr>
    <tr><td>20170407-202522</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.657</td><td><a href="midi/ecal2017/emc-ecal2017-score0.657-ociImmediate-mem4096-time20170407-202522.mid">Download</a></td></tr>
    <tr><td>20170410-084754</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.484</td><td><a href="midi/ecal2017/emc-ecal2017-score0.484-ociStack-mem256-time20170410-084754.mid">Download</a></td></tr>
    <tr><td>20170409-104030</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.600</td><td><a href="midi/ecal2017/emc-ecal2017-score0.600-ociImmediateHarvard-mem65536-time20170409-104030.mid">Download</a></td></tr>
    <tr><td>20170409-093526</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.694</td><td><a href="midi/ecal2017/emc-ecal2017-score0.694-ociImmediateHarvard-mem256-time20170409-093526.mid">Download</a></td></tr>
    <tr><td>20170410-013052</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.624</td><td><a href="midi/ecal2017/emc-ecal2017-score0.624-ociSingleRiscHarvard-mem256-time20170410-013052.mid">Download</a></td></tr>
    <tr><td>20170410-002131</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.514</td><td><a href="midi/ecal2017/emc-ecal2017-score0.514-ociStack-mem4096-time20170410-002131.mid">Download</a></td></tr>
    <tr><td>20170409-191554</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.516</td><td><a href="midi/ecal2017/emc-ecal2017-score0.516-ociSingleRisc-mem65536-time20170409-191554.mid">Download</a></td></tr>
    <tr><td>20170410-104325</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.624</td><td><a href="midi/ecal2017/emc-ecal2017-score0.624-ociStack-mem256-time20170410-104325.mid">Download</a></td></tr>
    <tr><td>20170408-120022</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.513</td><td><a href="midi/ecal2017/emc-ecal2017-score0.513-ociStackHarvard-mem65536-time20170408-120022.mid">Download</a></td></tr>
    <tr><td>20170409-223958</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.583</td><td><a href="midi/ecal2017/emc-ecal2017-score0.583-ociStack-mem65536-time20170409-223958.mid">Download</a></td></tr>
    <tr><td>20170410-013349</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.515</td><td><a href="midi/ecal2017/emc-ecal2017-score0.515-ociStack-mem4096-time20170410-013349.mid">Download</a></td></tr>
    <tr><td>20170409-191520</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.468</td><td><a href="midi/ecal2017/emc-ecal2017-score0.468-ociSingleRiscHarvard-mem4096-time20170409-191520.mid">Download</a></td></tr>
    <tr><td>20170410-002128</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.615</td><td><a href="midi/ecal2017/emc-ecal2017-score0.615-ociStack-mem256-time20170410-002128.mid">Download</a></td></tr>
    <tr><td>20170410-023343</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.550</td><td><a href="midi/ecal2017/emc-ecal2017-score0.550-ociStack-mem4096-time20170410-023343.mid">Download</a></td></tr>
    <tr><td>20170409-085938</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.574</td><td><a href="midi/ecal2017/emc-ecal2017-score0.574-ociImmediateHarvard-mem4096-time20170409-085938.mid">Download</a></td></tr>
    <tr><td>20170409-234823</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.571</td><td><a href="midi/ecal2017/emc-ecal2017-score0.571-ociStack-mem65536-time20170409-234823.mid">Download</a></td></tr>
    <tr><td>20170408-052224</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.638</td><td><a href="midi/ecal2017/emc-ecal2017-score0.638-ociImmediate-mem4096-time20170408-052224.mid">Download</a></td></tr>
    <tr><td>20170409-221407</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.593</td><td><a href="midi/ecal2017/emc-ecal2017-score0.593-ociStack-mem256-time20170409-221407.mid">Download</a></td></tr>
    <tr><td>20170410-003447</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.468</td><td><a href="midi/ecal2017/emc-ecal2017-score0.468-ociStack-mem65536-time20170410-003447.mid">Download</a></td></tr>
    <tr><td>20170408-052243</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.545</td><td><a href="midi/ecal2017/emc-ecal2017-score0.545-ociStackHarvard-mem256-time20170408-052243.mid">Download</a></td></tr>
    <tr><td>20170408-112702</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.675</td><td><a href="midi/ecal2017/emc-ecal2017-score0.675-ociImmediate-mem65536-time20170408-112702.mid">Download</a></td></tr>
    <tr><td>20170407-211914</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.663</td><td><a href="midi/ecal2017/emc-ecal2017-score0.663-ociImmediate-mem65536-time20170407-211914.mid">Download</a></td></tr>
    <tr><td>20170409-085127</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.690</td><td><a href="midi/ecal2017/emc-ecal2017-score0.690-ociImmediateHarvard-mem256-time20170409-085127.mid">Download</a></td></tr>
    <tr><td>20170410-104812</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.435</td><td><a href="midi/ecal2017/emc-ecal2017-score0.435-ociSingleRisc-mem4096-time20170410-104812.mid">Download</a></td></tr>
    <tr><td>20170408-131840</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.483</td><td><a href="midi/ecal2017/emc-ecal2017-score0.483-ociStackHarvard-mem65536-time20170408-131840.mid">Download</a></td></tr>
    <tr><td>20170410-122055</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.529</td><td><a href="midi/ecal2017/emc-ecal2017-score0.529-ociSingleRiscHarvard-mem256-time20170410-122055.mid">Download</a></td></tr>
    <tr><td>20170410-120929</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.488</td><td><a href="midi/ecal2017/emc-ecal2017-score0.488-ociSingleRiscHarvard-mem4096-time20170410-120929.mid">Download</a></td></tr>
    <tr><td>20170410-111125</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.455</td><td><a href="midi/ecal2017/emc-ecal2017-score0.455-ociSingleRiscHarvard-mem4096-time20170410-111125.mid">Download</a></td></tr>
    <tr><td>20170409-213242</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.465</td><td><a href="midi/ecal2017/emc-ecal2017-score0.465-ociStack-mem4096-time20170409-213242.mid">Download</a></td></tr>
    <tr><td>20170408-072359</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.591</td><td><a href="midi/ecal2017/emc-ecal2017-score0.591-ociImmediate-mem4096-time20170408-072359.mid">Download</a></td></tr>
    <tr><td>20170408-081554</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.482</td><td><a href="midi/ecal2017/emc-ecal2017-score0.482-ociStackHarvard-mem65536-time20170408-081554.mid">Download</a></td></tr>
    <tr><td>20170407-222527</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.694</td><td><a href="midi/ecal2017/emc-ecal2017-score0.694-ociImmediate-mem4096-time20170407-222527.mid">Download</a></td></tr>
    <tr><td>20170409-115004</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.596</td><td><a href="midi/ecal2017/emc-ecal2017-score0.596-ociImmediateHarvard-mem4096-time20170409-115004.mid">Download</a></td></tr>
    <tr><td>20170410-080832</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.483</td><td><a href="midi/ecal2017/emc-ecal2017-score0.483-ociStack-mem4096-time20170410-080832.mid">Download</a></td></tr>
    <tr><td>20170409-180146</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.496</td><td><a href="midi/ecal2017/emc-ecal2017-score0.496-ociSingleRisc-mem4096-time20170409-180146.mid">Download</a></td></tr>
    <tr><td>20170407-194836</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.713</td><td><a href="midi/ecal2017/emc-ecal2017-score0.713-ociImmediate-mem256-time20170407-194836.mid">Download</a></td></tr>
    <tr><td>20170408-032545</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.691</td><td><a href="midi/ecal2017/emc-ecal2017-score0.691-ociImmediate-mem4096-time20170408-032545.mid">Download</a></td></tr>
    <tr><td>20170409-110635</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.714</td><td><a href="midi/ecal2017/emc-ecal2017-score0.714-ociImmediateHarvard-mem256-time20170409-110635.mid">Download</a></td></tr>
    <tr><td>20170409-185436</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.570</td><td><a href="midi/ecal2017/emc-ecal2017-score0.570-ociStack-mem65536-time20170409-185436.mid">Download</a></td></tr>
    <tr><td>20170409-211316</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.426</td><td><a href="midi/ecal2017/emc-ecal2017-score0.426-ociSingleRiscHarvard-mem65536-time20170409-211316.mid">Download</a></td></tr>
    <tr><td>20170407-191549</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.690</td><td><a href="midi/ecal2017/emc-ecal2017-score0.690-ociImmediate-mem65536-time20170407-191549.mid">Download</a></td></tr>
    <tr><td>20170408-121718</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.649</td><td><a href="midi/ecal2017/emc-ecal2017-score0.649-ociImmediate-mem65536-time20170408-121718.mid">Download</a></td></tr>
    <tr><td>20170409-102029</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.618</td><td><a href="midi/ecal2017/emc-ecal2017-score0.618-ociImmediateHarvard-mem256-time20170409-102029.mid">Download</a></td></tr>
    <tr><td>20170410-063052</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.603</td><td><a href="midi/ecal2017/emc-ecal2017-score0.603-ociSingleRiscHarvard-mem256-time20170410-063052.mid">Download</a></td></tr>
    <tr><td>20170409-222932</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.449</td><td><a href="midi/ecal2017/emc-ecal2017-score0.449-ociSingleRiscHarvard-mem4096-time20170409-222932.mid">Download</a></td></tr>
    <tr><td>20170408-130830</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.688</td><td><a href="midi/ecal2017/emc-ecal2017-score0.688-ociImmediate-mem256-time20170408-130830.mid">Download</a></td></tr>
    <tr><td>20170409-085134</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.669</td><td><a href="midi/ecal2017/emc-ecal2017-score0.669-ociImmediateHarvard-mem256-time20170409-085134.mid">Download</a></td></tr>
    <tr><td>20170408-171504</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.496</td><td><a href="midi/ecal2017/emc-ecal2017-score0.496-ociStackHarvard-mem4096-time20170408-171504.mid">Download</a></td></tr>
    <tr><td>20170410-075309</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.473</td><td><a href="midi/ecal2017/emc-ecal2017-score0.473-ociSingleRisc-mem256-time20170410-075309.mid">Download</a></td></tr>
    <tr><td>20170409-225227</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.495</td><td><a href="midi/ecal2017/emc-ecal2017-score0.495-ociStack-mem4096-time20170409-225227.mid">Download</a></td></tr>
    <tr><td>20170410-051005</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.518</td><td><a href="midi/ecal2017/emc-ecal2017-score0.518-ociSingleRisc-mem4096-time20170410-051005.mid">Download</a></td></tr>
    <tr><td>20170410-034406</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.514</td><td><a href="midi/ecal2017/emc-ecal2017-score0.514-ociStack-mem4096-time20170410-034406.mid">Download</a></td></tr>
    <tr><td>20170410-042513</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.509</td><td><a href="midi/ecal2017/emc-ecal2017-score0.509-ociSingleRiscHarvard-mem4096-time20170410-042513.mid">Download</a></td></tr>
    <tr><td>20170410-123211</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.545</td><td><a href="midi/ecal2017/emc-ecal2017-score0.545-ociStack-mem256-time20170410-123211.mid">Download</a></td></tr>
    <tr><td>20170408-032248</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.508</td><td><a href="midi/ecal2017/emc-ecal2017-score0.508-ociStackHarvard-mem65536-time20170408-032248.mid">Download</a></td></tr>
    <tr><td>20170410-101338</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.552</td><td><a href="midi/ecal2017/emc-ecal2017-score0.552-ociSingleRiscHarvard-mem4096-time20170410-101338.mid">Download</a></td></tr>
    <tr><td>20170410-013311</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.428</td><td><a href="midi/ecal2017/emc-ecal2017-score0.428-ociSingleRisc-mem65536-time20170410-013311.mid">Download</a></td></tr>
    <tr><td>20170409-180434</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.459</td><td><a href="midi/ecal2017/emc-ecal2017-score0.459-ociSingleRiscHarvard-mem65536-time20170409-180434.mid">Download</a></td></tr>
    <tr><td>20170409-153117</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.450</td><td><a href="midi/ecal2017/emc-ecal2017-score0.450-ociImmediateHarvard-mem65536-time20170409-153117.mid">Download</a></td></tr>
    <tr><td>20170409-093521</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.711</td><td><a href="midi/ecal2017/emc-ecal2017-score0.711-ociImmediateHarvard-mem256-time20170409-093521.mid">Download</a></td></tr>
    <tr><td>20170409-233210</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.464</td><td><a href="midi/ecal2017/emc-ecal2017-score0.464-ociSingleRiscHarvard-mem65536-time20170409-233210.mid">Download</a></td></tr>
    <tr><td>20170410-092542</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.598</td><td><a href="midi/ecal2017/emc-ecal2017-score0.598-ociSingleRiscHarvard-mem256-time20170410-092542.mid">Download</a></td></tr>
    <tr><td>20170409-211547</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.434</td><td><a href="midi/ecal2017/emc-ecal2017-score0.434-ociSingleRiscHarvard-mem65536-time20170409-211547.mid">Download</a></td></tr>
    <tr><td>20170409-222655</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.519</td><td><a href="midi/ecal2017/emc-ecal2017-score0.519-ociSingleRisc-mem4096-time20170409-222655.mid">Download</a></td></tr>
    <tr><td>20170409-085934</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.656</td><td><a href="midi/ecal2017/emc-ecal2017-score0.656-ociImmediateHarvard-mem4096-time20170409-085934.mid">Download</a></td></tr>
    <tr><td>20170409-175933</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.456</td><td><a href="midi/ecal2017/emc-ecal2017-score0.456-ociImmediateHarvard-mem65536-time20170409-175933.mid">Download</a></td></tr>
    <tr><td>20170407-233357</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.527</td><td><a href="midi/ecal2017/emc-ecal2017-score0.527-ociStackHarvard-mem256-time20170407-233357.mid">Download</a></td></tr>
    <tr><td>20170408-163435</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.689</td><td><a href="midi/ecal2017/emc-ecal2017-score0.689-ociImmediate-mem256-time20170408-163435.mid">Download</a></td></tr>
    <tr><td>20170408-081340</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.559</td><td><a href="midi/ecal2017/emc-ecal2017-score0.559-ociStackHarvard-mem256-time20170408-081340.mid">Download</a></td></tr>
    <tr><td>20170408-155713</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.491</td><td><a href="midi/ecal2017/emc-ecal2017-score0.491-ociStackHarvard-mem65536-time20170408-155713.mid">Download</a></td></tr>
    <tr><td>20170410-040438</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.482</td><td><a href="midi/ecal2017/emc-ecal2017-score0.482-ociSingleRisc-mem256-time20170410-040438.mid">Download</a></td></tr>
    <tr><td>20170409-225336</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.593</td><td><a href="midi/ecal2017/emc-ecal2017-score0.593-ociStack-mem4096-time20170409-225336.mid">Download</a></td></tr>
    <tr><td>20170408-002445</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.674</td><td><a href="midi/ecal2017/emc-ecal2017-score0.674-ociImmediate-mem4096-time20170408-002445.mid">Download</a></td></tr>
    <tr><td>20170410-065809</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.474</td><td><a href="midi/ecal2017/emc-ecal2017-score0.474-ociStack-mem4096-time20170410-065809.mid">Download</a></td></tr>
    <tr><td>20170410-044719</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.553</td><td><a href="midi/ecal2017/emc-ecal2017-score0.553-ociSingleRiscHarvard-mem65536-time20170410-044719.mid">Download</a></td></tr>
    <tr><td>20170408-161727</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.656</td><td><a href="midi/ecal2017/emc-ecal2017-score0.656-ociImmediate-mem65536-time20170408-161727.mid">Download</a></td></tr>
    <tr><td>20170409-223203</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.534</td><td><a href="midi/ecal2017/emc-ecal2017-score0.534-ociStack-mem65536-time20170409-223203.mid">Download</a></td></tr>
    <tr><td>20170408-162337</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.691</td><td><a href="midi/ecal2017/emc-ecal2017-score0.691-ociImmediate-mem65536-time20170408-162337.mid">Download</a></td></tr>
    <tr><td>20170410-040803</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.515</td><td><a href="midi/ecal2017/emc-ecal2017-score0.515-ociSingleRisc-mem65536-time20170410-040803.mid">Download</a></td></tr>
    <tr><td>20170408-071725</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.567</td><td><a href="midi/ecal2017/emc-ecal2017-score0.567-ociStackHarvard-mem256-time20170408-071725.mid">Download</a></td></tr>
    <tr><td>20170410-052723</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.420</td><td><a href="midi/ecal2017/emc-ecal2017-score0.420-ociSingleRisc-mem65536-time20170410-052723.mid">Download</a></td></tr>
    <tr><td>20170408-022842</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.695</td><td><a href="midi/ecal2017/emc-ecal2017-score0.695-ociImmediate-mem65536-time20170408-022842.mid">Download</a></td></tr>
    <tr><td>20170408-054938</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.513</td><td><a href="midi/ecal2017/emc-ecal2017-score0.513-ociStackHarvard-mem65536-time20170408-054938.mid">Download</a></td></tr>
    <tr><td>20170409-191426</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.512</td><td><a href="midi/ecal2017/emc-ecal2017-score0.512-ociSingleRisc-mem65536-time20170409-191426.mid">Download</a></td></tr>
    <tr><td>20170408-003006</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.565</td><td><a href="midi/ecal2017/emc-ecal2017-score0.565-ociStackHarvard-mem256-time20170408-003006.mid">Download</a></td></tr>
    <tr><td>20170410-044402</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.584</td><td><a href="midi/ecal2017/emc-ecal2017-score0.584-ociStack-mem65536-time20170410-044402.mid">Download</a></td></tr>
    <tr><td>20170408-013450</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.497</td><td><a href="midi/ecal2017/emc-ecal2017-score0.497-ociStackHarvard-mem4096-time20170408-013450.mid">Download</a></td></tr>
    <tr><td>20170409-135512</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.587</td><td><a href="midi/ecal2017/emc-ecal2017-score0.587-ociImmediateHarvard-mem65536-time20170409-135512.mid">Download</a></td></tr>
    <tr><td>20170408-062000</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.519</td><td><a href="midi/ecal2017/emc-ecal2017-score0.519-ociStackHarvard-mem256-time20170408-062000.mid">Download</a></td></tr>
    <tr><td>20170408-135933</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.530</td><td><a href="midi/ecal2017/emc-ecal2017-score0.530-ociStackHarvard-mem256-time20170408-135933.mid">Download</a></td></tr>
    <tr><td>20170408-101136</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.597</td><td><a href="midi/ecal2017/emc-ecal2017-score0.597-ociStackHarvard-mem256-time20170408-101136.mid">Download</a></td></tr>
    <tr><td>20170409-212322</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.641</td><td><a href="midi/ecal2017/emc-ecal2017-score0.641-ociSingleRiscHarvard-mem256-time20170409-212322.mid">Download</a></td></tr>
    <tr><td>20170409-180120</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.519</td><td><a href="midi/ecal2017/emc-ecal2017-score0.519-ociSingleRisc-mem256-time20170409-180120.mid">Download</a></td></tr>
    <tr><td>20170409-180421</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.470</td><td><a href="midi/ecal2017/emc-ecal2017-score0.470-ociSingleRiscHarvard-mem4096-time20170409-180421.mid">Download</a></td></tr>
    <tr><td>20170407-233844</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.483</td><td><a href="midi/ecal2017/emc-ecal2017-score0.483-ociStackHarvard-mem4096-time20170407-233844.mid">Download</a></td></tr>
    <tr><td>20170408-092937</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.482</td><td><a href="midi/ecal2017/emc-ecal2017-score0.482-ociStackHarvard-mem65536-time20170408-092937.mid">Download</a></td></tr>
    <tr><td>20170408-013001</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.519</td><td><a href="midi/ecal2017/emc-ecal2017-score0.519-ociStackHarvard-mem256-time20170408-013001.mid">Download</a></td></tr>
    <tr><td>20170408-145143</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.656</td><td><a href="midi/ecal2017/emc-ecal2017-score0.656-ociImmediate-mem65536-time20170408-145143.mid">Download</a></td></tr>
    <tr><td>20170409-194532</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.598</td><td><a href="midi/ecal2017/emc-ecal2017-score0.598-ociImmediateHarvard-mem4096-time20170409-194532.mid">Download</a></td></tr>
    <tr><td>20170408-005628</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.490</td><td><a href="midi/ecal2017/emc-ecal2017-score0.490-ociStackHarvard-mem65536-time20170408-005628.mid">Download</a></td></tr>
    <tr><td>20170409-110507</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.681</td><td><a href="midi/ecal2017/emc-ecal2017-score0.681-ociImmediateHarvard-mem256-time20170409-110507.mid">Download</a></td></tr>
    <tr><td>20170408-154538</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.678</td><td><a href="midi/ecal2017/emc-ecal2017-score0.678-ociImmediate-mem256-time20170408-154538.mid">Download</a></td></tr>
    <tr><td>20170408-102059</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.638</td><td><a href="midi/ecal2017/emc-ecal2017-score0.638-ociImmediate-mem4096-time20170408-102059.mid">Download</a></td></tr>
    <tr><td>20170410-104945</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.528</td><td><a href="midi/ecal2017/emc-ecal2017-score0.528-ociSingleRisc-mem256-time20170410-104945.mid">Download</a></td></tr>
    <tr><td>20170410-055313</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.549</td><td><a href="midi/ecal2017/emc-ecal2017-score0.549-ociStack-mem4096-time20170410-055313.mid">Download</a></td></tr>
    <tr><td>20170408-185155</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.661</td><td><a href="midi/ecal2017/emc-ecal2017-score0.661-ociImmediate-mem65536-time20170408-185155.mid">Download</a></td></tr>
    <tr><td>20170408-144312</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.581</td><td><a href="midi/ecal2017/emc-ecal2017-score0.581-ociStackHarvard-mem65536-time20170408-144312.mid">Download</a></td></tr>
    <tr><td>20170409-184909</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.667</td><td><a href="midi/ecal2017/emc-ecal2017-score0.667-ociImmediateHarvard-mem4096-time20170409-184909.mid">Download</a></td></tr>
    <tr><td>20170410-051800</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.540</td><td><a href="midi/ecal2017/emc-ecal2017-score0.540-ociStack-mem256-time20170410-051800.mid">Download</a></td></tr>
    <tr><td>20170410-112220</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.611</td><td><a href="midi/ecal2017/emc-ecal2017-score0.611-ociStack-mem256-time20170410-112220.mid">Download</a></td></tr>
    <tr><td>20170408-142302</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.588</td><td><a href="midi/ecal2017/emc-ecal2017-score0.588-ociImmediate-mem65536-time20170408-142302.mid">Download</a></td></tr>
    <tr><td>20170410-021245</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.474</td><td><a href="midi/ecal2017/emc-ecal2017-score0.474-ociSingleRiscHarvard-mem65536-time20170410-021245.mid">Download</a></td></tr>
    <tr><td>20170409-224042</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.527</td><td><a href="midi/ecal2017/emc-ecal2017-score0.527-ociStack-mem65536-time20170409-224042.mid">Download</a></td></tr>
    <tr><td>20170410-065723</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.543</td><td><a href="midi/ecal2017/emc-ecal2017-score0.543-ociStack-mem4096-time20170410-065723.mid">Download</a></td></tr>
    <tr><td>20170410-043113</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.565</td><td><a href="midi/ecal2017/emc-ecal2017-score0.565-ociStack-mem65536-time20170410-043113.mid">Download</a></td></tr>
    <tr><td>20170410-024010</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.467</td><td><a href="midi/ecal2017/emc-ecal2017-score0.467-ociSingleRisc-mem65536-time20170410-024010.mid">Download</a></td></tr>
    <tr><td>20170410-005232</td><td>Single-instruction</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.437</td><td><a href="midi/ecal2017/emc-ecal2017-score0.437-ociSingleRiscHarvard-mem65536-time20170410-005232.mid">Download</a></td></tr>
    <tr><td>20170409-195032</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.571</td><td><a href="midi/ecal2017/emc-ecal2017-score0.571-ociStack-mem65536-time20170409-195032.mid">Download</a></td></tr>
    <tr><td>20170408-154707</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.540</td><td><a href="midi/ecal2017/emc-ecal2017-score0.540-ociStackHarvard-mem256-time20170408-154707.mid">Download</a></td></tr>
    <tr><td>20170409-185246</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.613</td><td><a href="midi/ecal2017/emc-ecal2017-score0.613-ociImmediateHarvard-mem4096-time20170409-185246.mid">Download</a></td></tr>
    <tr><td>20170410-022940</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.646</td><td><a href="midi/ecal2017/emc-ecal2017-score0.646-ociSingleRiscHarvard-mem256-time20170410-022940.mid">Download</a></td></tr>
    <tr><td>20170409-135645</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.657</td><td><a href="midi/ecal2017/emc-ecal2017-score0.657-ociImmediateHarvard-mem65536-time20170409-135645.mid">Download</a></td></tr>
    <tr><td>20170408-111744</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.651</td><td><a href="midi/ecal2017/emc-ecal2017-score0.651-ociImmediate-mem4096-time20170408-111744.mid">Download</a></td></tr>
    <tr><td>20170408-121408</td><td>Complex</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.706</td><td><a href="midi/ecal2017/emc-ecal2017-score0.706-ociImmediate-mem256-time20170408-121408.mid">Download</a></td></tr>
    <tr><td>20170410-043818</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.476</td><td><a href="midi/ecal2017/emc-ecal2017-score0.476-ociStack-mem4096-time20170410-043818.mid">Download</a></td></tr>
    <tr><td>20170410-090146</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.510</td><td><a href="midi/ecal2017/emc-ecal2017-score0.510-ociStack-mem256-time20170410-090146.mid">Download</a></td></tr>
    <tr><td>20170410-020641</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.589</td><td><a href="midi/ecal2017/emc-ecal2017-score0.589-ociStack-mem256-time20170410-020641.mid">Download</a></td></tr>
    <tr><td>20170409-125637</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.550</td><td><a href="midi/ecal2017/emc-ecal2017-score0.550-ociImmediateHarvard-mem4096-time20170409-125637.mid">Download</a></td></tr>
    <tr><td>20170408-125021</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.497</td><td><a href="midi/ecal2017/emc-ecal2017-score0.497-ociStackHarvard-mem4096-time20170408-125021.mid">Download</a></td></tr>
    <tr><td>20170410-053139</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.650</td><td><a href="midi/ecal2017/emc-ecal2017-score0.650-ociSingleRiscHarvard-mem256-time20170410-053139.mid">Download</a></td></tr>
    <tr><td>20170410-090151</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.509</td><td><a href="midi/ecal2017/emc-ecal2017-score0.509-ociStack-mem256-time20170410-090151.mid">Download</a></td></tr>
    <tr><td>20170410-041352</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.470</td><td><a href="midi/ecal2017/emc-ecal2017-score0.470-ociSingleRisc-mem4096-time20170410-041352.mid">Download</a></td></tr>
    <tr><td>20170409-214405</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.464</td><td><a href="midi/ecal2017/emc-ecal2017-score0.464-ociSingleRisc-mem65536-time20170409-214405.mid">Download</a></td></tr>
    <tr><td>20170409-180412</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.684</td><td><a href="midi/ecal2017/emc-ecal2017-score0.684-ociSingleRiscHarvard-mem256-time20170409-180412.mid">Download</a></td></tr>
    <tr><td>20170409-185945</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.498</td><td><a href="midi/ecal2017/emc-ecal2017-score0.498-ociSingleRisc-mem256-time20170409-185945.mid">Download</a></td></tr>
    <tr><td>20170409-205926</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.497</td><td><a href="midi/ecal2017/emc-ecal2017-score0.497-ociStack-mem65536-time20170409-205926.mid">Download</a></td></tr>
    <tr><td>20170410-004534</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.487</td><td><a href="midi/ecal2017/emc-ecal2017-score0.487-ociStack-mem65536-time20170410-004534.mid">Download</a></td></tr>
    <tr><td>20170408-093356</td><td>Complex</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.692</td><td><a href="midi/ecal2017/emc-ecal2017-score0.692-ociImmediate-mem65536-time20170408-093356.mid">Download</a></td></tr>
    <tr><td>20170409-205027</td><td>Stack-based</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.537</td><td><a href="midi/ecal2017/emc-ecal2017-score0.537-ociStack-mem65536-time20170409-205027.mid">Download</a></td></tr>
    <tr><td>20170410-082754</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.638</td><td><a href="midi/ecal2017/emc-ecal2017-score0.638-ociSingleRiscHarvard-mem256-time20170410-082754.mid">Download</a></td></tr>
    <tr><td>20170409-175929</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.507</td><td><a href="midi/ecal2017/emc-ecal2017-score0.507-ociImmediateHarvard-mem65536-time20170409-175929.mid">Download</a></td></tr>
    <tr><td>20170408-153828</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.540</td><td><a href="midi/ecal2017/emc-ecal2017-score0.540-ociStackHarvard-mem4096-time20170408-153828.mid">Download</a></td></tr>
    <tr><td>20170410-012536</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.478</td><td><a href="midi/ecal2017/emc-ecal2017-score0.478-ociSingleRisc-mem4096-time20170410-012536.mid">Download</a></td></tr>
    <tr><td>20170409-212831</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.461</td><td><a href="midi/ecal2017/emc-ecal2017-score0.461-ociSingleRiscHarvard-mem4096-time20170409-212831.mid">Download</a></td></tr>
    <tr><td>20170407-233854</td><td>Stack-based</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.604</td><td><a href="midi/ecal2017/emc-ecal2017-score0.604-ociStackHarvard-mem65536-time20170407-233854.mid">Download</a></td></tr>
    <tr><td>20170408-062433</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.700</td><td><a href="midi/ecal2017/emc-ecal2017-score0.700-ociImmediate-mem4096-time20170408-062433.mid">Download</a></td></tr>
    <tr><td>20170407-223302</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.551</td><td><a href="midi/ecal2017/emc-ecal2017-score0.551-ociStackHarvard-mem256-time20170407-223302.mid">Download</a></td></tr>
    <tr><td>20170409-105151</td><td>Complex</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.679</td><td><a href="midi/ecal2017/emc-ecal2017-score0.679-ociImmediateHarvard-mem4096-time20170409-105151.mid">Download</a></td></tr>
    <tr><td>20170408-032726</td><td>Stack-based</td><td>Harvard</td><td>256</td><td>9999</td><td>0.546</td><td><a href="midi/ecal2017/emc-ecal2017-score0.546-ociStackHarvard-mem256-time20170408-032726.mid">Download</a></td></tr>
    <tr><td>20170410-002950</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.469</td><td><a href="midi/ecal2017/emc-ecal2017-score0.469-ociSingleRisc-mem4096-time20170410-002950.mid">Download</a></td></tr>
    <tr><td>20170409-131505</td><td>Complex</td><td>Harvard</td><td>65536</td><td>9999</td><td>0.577</td><td><a href="midi/ecal2017/emc-ecal2017-score0.577-ociImmediateHarvard-mem65536-time20170409-131505.mid">Download</a></td></tr>
    <tr><td>20170409-194920</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.529</td><td><a href="midi/ecal2017/emc-ecal2017-score0.529-ociStack-mem256-time20170409-194920.mid">Download</a></td></tr>
    <tr><td>20170408-061337</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.502</td><td><a href="midi/ecal2017/emc-ecal2017-score0.502-ociStackHarvard-mem4096-time20170408-061337.mid">Download</a></td></tr>
    <tr><td>20170409-230429</td><td>Single-instruction</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.520</td><td><a href="midi/ecal2017/emc-ecal2017-score0.520-ociSingleRisc-mem256-time20170409-230429.mid">Download</a></td></tr>
    <tr><td>20170410-081832</td><td>Single-instruction</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.457</td><td><a href="midi/ecal2017/emc-ecal2017-score0.457-ociSingleRiscHarvard-mem4096-time20170410-081832.mid">Download</a></td></tr>
    <tr><td>20170408-144955</td><td>Stack-based</td><td>Harvard</td><td>4096</td><td>9999</td><td>0.500</td><td><a href="midi/ecal2017/emc-ecal2017-score0.500-ociStackHarvard-mem4096-time20170408-144955.mid">Download</a></td></tr>
    <tr><td>20170409-185424</td><td>Stack-based</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.550</td><td><a href="midi/ecal2017/emc-ecal2017-score0.550-ociStack-mem4096-time20170409-185424.mid">Download</a></td></tr>
    <tr><td>20170409-204114</td><td>Single-instruction</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.444</td><td><a href="midi/ecal2017/emc-ecal2017-score0.444-ociSingleRisc-mem4096-time20170409-204114.mid">Download</a></td></tr>
    <tr><td>20170409-093351</td><td>Complex</td><td>Harvard</td><td>256</td><td>9999</td><td>0.713</td><td><a href="midi/ecal2017/emc-ecal2017-score0.713-ociImmediateHarvard-mem256-time20170409-093351.mid">Download</a></td></tr>
    <tr><td>20170410-025058</td><td>Single-instruction</td><td>Von Neumann</td><td>65536</td><td>9999</td><td>0.419</td><td><a href="midi/ecal2017/emc-ecal2017-score0.419-ociSingleRisc-mem65536-time20170410-025058.mid">Download</a></td></tr>
    <tr><td>20170407-212600</td><td>Complex</td><td>Von Neumann</td><td>4096</td><td>9999</td><td>0.610</td><td><a href="midi/ecal2017/emc-ecal2017-score0.610-ociImmediate-mem4096-time20170407-212600.mid">Download</a></td></tr>
    <tr><td>20170410-112242</td><td>Single-instruction</td><td>Harvard</td><td>256</td><td>9999</td><td>0.570</td><td><a href="midi/ecal2017/emc-ecal2017-score0.570-ociSingleRiscHarvard-mem256-time20170410-112242.mid">Download</a></td></tr>
    <tr><td>20170410-033852</td><td>Stack-based</td><td>Von Neumann</td><td>256</td><td>9999</td><td>0.542</td><td><a href="midi/ecal2017/emc-ecal2017-score0.542-ociStack-mem256-time20170410-033852.mid">Download</a></td></tr>
  </tbody>
      <tfoot>
      </tfoot>
    </table>
    
