<table style="width:100%" class="sortable">
      <thead>
        <tr>
          <th><a href="#a">Time stamp</a></th>
          <th><a href="#a">VM architecture</a></th>
          <th><a href="#a">Pitch representation</a></th>
          <th><a href="#a">Generation</a></th>
          <th><a href="#a">Grade</a></th>
          <th><a href="#a">Download link</a></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>20190202-121546</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-121546_rev19a36c0/emc_score0.733_gen05000_ind0437.mid">Download</a></td></tr>
    <tr><td>20190202-121546</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.748</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-121546_rev19a36c0/emc_score0.748_gen05000_ind0313.mid">Download</a></td></tr>
    <tr><td>20190202-121603</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.718</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-121603_rev19a36c0/emc_score0.718_gen05000_ind0307.mid">Download</a></td></tr>
    <tr><td>20190202-121603</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.705</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-121603_rev19a36c0/emc_score0.705_gen05000_ind0317.mid">Download</a></td></tr>
    <tr><td>20190202-130313</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.735</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-130313_rev19a36c0/emc_score0.735_gen05000_ind0179.mid">Download</a></td></tr>
    <tr><td>20190202-130313</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.738</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-130313_rev19a36c0/emc_score0.738_gen05000_ind0312.mid">Download</a></td></tr>
    <tr><td>20190202-132100</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.722</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-132100_rev19a36c0/emc_score0.722_gen05000_ind0403.mid">Download</a></td></tr>
    <tr><td>20190202-132100</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.725</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-132100_rev19a36c0/emc_score0.725_gen05000_ind0081.mid">Download</a></td></tr>
    <tr><td>20190202-140523</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.742</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-140523_rev19a36c0/emc_score0.742_gen05000_ind0397.mid">Download</a></td></tr>
    <tr><td>20190202-140523</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.743</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-140523_rev19a36c0/emc_score0.743_gen05000_ind0084.mid">Download</a></td></tr>
    <tr><td>20190202-142558</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.751</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-142558_rev19a36c0/emc_score0.751_gen05000_ind0415.mid">Download</a></td></tr>
    <tr><td>20190202-142558</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.752</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-142558_rev19a36c0/emc_score0.752_gen05000_ind0409.mid">Download</a></td></tr>
    <tr><td>20190202-150840</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.729</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-150840_rev19a36c0/emc_score0.729_gen05000_ind0279.mid">Download</a></td></tr>
    <tr><td>20190202-150840</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.736</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-150840_rev19a36c0/emc_score0.736_gen05000_ind0388.mid">Download</a></td></tr>
    <tr><td>20190202-153326</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.725</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-153326_rev19a36c0/emc_score0.725_gen05000_ind0325.mid">Download</a></td></tr>
    <tr><td>20190202-153326</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.716</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-153326_rev19a36c0/emc_score0.716_gen05000_ind0279.mid">Download</a></td></tr>
    <tr><td>20190202-161905</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.748</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-161905_rev19a36c0/emc_score0.748_gen05000_ind0091.mid">Download</a></td></tr>
    <tr><td>20190202-161905</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.741</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-161905_rev19a36c0/emc_score0.741_gen05000_ind0437.mid">Download</a></td></tr>
    <tr><td>20190202-162750</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.734</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-162750_rev19a36c0/emc_score0.734_gen05000_ind0442.mid">Download</a></td></tr>
    <tr><td>20190202-162750</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.720</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-162750_rev19a36c0/emc_score0.720_gen05000_ind0135.mid">Download</a></td></tr>
    <tr><td>20190202-172313</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-172313_rev19a36c0/emc_score0.733_gen05000_ind0001.mid">Download</a></td></tr>
    <tr><td>20190202-172313</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.743</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-172313_rev19a36c0/emc_score0.743_gen05000_ind0429.mid">Download</a></td></tr>
    <tr><td>20190202-173318</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.723</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-173318_rev19a36c0/emc_score0.723_gen05000_ind0007.mid">Download</a></td></tr>
    <tr><td>20190202-173318</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.720</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-173318_rev19a36c0/emc_score0.720_gen05000_ind0096.mid">Download</a></td></tr>
    <tr><td>20190202-182855</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.740</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-182855_rev19a36c0/emc_score0.740_gen05000_ind0084.mid">Download</a></td></tr>
    <tr><td>20190202-182855</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.739</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-182855_rev19a36c0/emc_score0.739_gen05000_ind0478.mid">Download</a></td></tr>
    <tr><td>20190202-183828</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-183828_rev19a36c0/emc_score0.733_gen05000_ind0474.mid">Download</a></td></tr>
    <tr><td>20190202-183828</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.741</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-183828_rev19a36c0/emc_score0.741_gen05000_ind0009.mid">Download</a></td></tr>
    <tr><td>20190202-193302</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.742</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-193302_rev19a36c0/emc_score0.742_gen05000_ind0138.mid">Download</a></td></tr>
    <tr><td>20190202-193302</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.729</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-193302_rev19a36c0/emc_score0.729_gen05000_ind0029.mid">Download</a></td></tr>
    <tr><td>20190202-194749</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.760</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-194749_rev19a36c0/emc_score0.760_gen05000_ind0469.mid">Download</a></td></tr>
    <tr><td>20190202-194749</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.736</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-194749_rev19a36c0/emc_score0.736_gen05000_ind0286.mid">Download</a></td></tr>
    <tr><td>20190202-204522</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.727</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-204522_rev19a36c0/emc_score0.727_gen05000_ind0454.mid">Download</a></td></tr>
    <tr><td>20190202-204522</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.731</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-204522_rev19a36c0/emc_score0.731_gen05000_ind0422.mid">Download</a></td></tr>
    <tr><td>20190202-210955</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.745</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-210955_rev19a36c0/emc_score0.745_gen05000_ind0478.mid">Download</a></td></tr>
    <tr><td>20190202-210955</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.736</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-210955_rev19a36c0/emc_score0.736_gen05000_ind0398.mid">Download</a></td></tr>
    <tr><td>20190202-211524</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.721</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-211524_revd09408d/emc_score0.721_gen05000_ind0473.mid">Download</a></td></tr>
    <tr><td>20190202-211524</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.715</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-211524_revd09408d/emc_score0.715_gen05000_ind0091.mid">Download</a></td></tr>
    <tr><td>20190202-213902</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.739</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-213902_rev19a36c0/emc_score0.739_gen05000_ind0484.mid">Download</a></td></tr>
    <tr><td>20190202-213902</td><td>Immediate</td><td>Shifted chromatic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-shiftedchromatic/emc_time20190202-213902_rev19a36c0/emc_score0.733_gen05000_ind0302.mid">Download</a></td></tr>
    <tr><td>20190202-121547</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.715</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-121547_rev19a36c0/emc_score0.715_gen05000_ind0295.mid">Download</a></td></tr>
    <tr><td>20190202-121547</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.724</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-121547_rev19a36c0/emc_score0.724_gen05000_ind0008.mid">Download</a></td></tr>
    <tr><td>20190202-121606</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.750</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-121606_rev19a36c0/emc_score0.750_gen05000_ind0091.mid">Download</a></td></tr>
    <tr><td>20190202-121606</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.731</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-121606_rev19a36c0/emc_score0.731_gen05000_ind0231.mid">Download</a></td></tr>
    <tr><td>20190202-131014</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.542</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-131014_rev19a36c0/emc_score0.542_gen05000_ind0370.mid">Download</a></td></tr>
    <tr><td>20190202-131014</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.542</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-131014_rev19a36c0/emc_score0.542_gen05000_ind0249.mid">Download</a></td></tr>
    <tr><td>20190202-131058</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.562</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-131058_rev19a36c0/emc_score0.562_gen05000_ind0042.mid">Download</a></td></tr>
    <tr><td>20190202-131058</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.562</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-131058_rev19a36c0/emc_score0.562_gen05000_ind0271.mid">Download</a></td></tr>
    <tr><td>20190202-135616</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.728</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-135616_rev19a36c0/emc_score0.728_gen05000_ind0261.mid">Download</a></td></tr>
    <tr><td>20190202-135616</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.728</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-135616_rev19a36c0/emc_score0.728_gen05000_ind0177.mid">Download</a></td></tr>
    <tr><td>20190202-135619</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.585</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-135619_rev19a36c0/emc_score0.585_gen05000_ind0005.mid">Download</a></td></tr>
    <tr><td>20190202-135619</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.561</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-135619_rev19a36c0/emc_score0.561_gen05000_ind0111.mid">Download</a></td></tr>
    <tr><td>20190202-144227</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.543</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-144227_rev19a36c0/emc_score0.543_gen05000_ind0139.mid">Download</a></td></tr>
    <tr><td>20190202-144227</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.588</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-144227_rev19a36c0/emc_score0.588_gen05000_ind0450.mid">Download</a></td></tr>
    <tr><td>20190202-144729</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.725</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-144729_rev19a36c0/emc_score0.725_gen05000_ind0205.mid">Download</a></td></tr>
    <tr><td>20190202-144729</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.723</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-144729_rev19a36c0/emc_score0.723_gen05000_ind0039.mid">Download</a></td></tr>
    <tr><td>20190202-152813</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.684</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-152813_rev19a36c0/emc_score0.684_gen05000_ind0385.mid">Download</a></td></tr>
    <tr><td>20190202-152813</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.683</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-152813_rev19a36c0/emc_score0.683_gen05000_ind0446.mid">Download</a></td></tr>
    <tr><td>20190202-154441</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.790</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-154441_rev19a36c0/emc_score0.790_gen05000_ind0017.mid">Download</a></td></tr>
    <tr><td>20190202-154441</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.791</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-154441_rev19a36c0/emc_score0.791_gen05000_ind0294.mid">Download</a></td></tr>
    <tr><td>20190202-161616</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.561</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-161616_rev19a36c0/emc_score0.561_gen05000_ind0089.mid">Download</a></td></tr>
    <tr><td>20190202-161616</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.560</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-161616_rev19a36c0/emc_score0.560_gen05000_ind0388.mid">Download</a></td></tr>
    <tr><td>20190202-164503</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.769</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-164503_rev19a36c0/emc_score0.769_gen05000_ind0029.mid">Download</a></td></tr>
    <tr><td>20190202-164503</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.765</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-164503_rev19a36c0/emc_score0.765_gen05000_ind0466.mid">Download</a></td></tr>
    <tr><td>20190202-170823</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.738</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-170823_rev19a36c0/emc_score0.738_gen05000_ind0392.mid">Download</a></td></tr>
    <tr><td>20190202-170823</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.730</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-170823_rev19a36c0/emc_score0.730_gen05000_ind0418.mid">Download</a></td></tr>
    <tr><td>20190202-175321</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.561</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-175321_rev19a36c0/emc_score0.561_gen05000_ind0168.mid">Download</a></td></tr>
    <tr><td>20190202-175321</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.674</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-175321_rev19a36c0/emc_score0.674_gen05000_ind0147.mid">Download</a></td></tr>
    <tr><td>20190202-180559</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.800</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-180559_rev19a36c0/emc_score0.800_gen05000_ind0033.mid">Download</a></td></tr>
    <tr><td>20190202-180559</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.795</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-180559_rev19a36c0/emc_score0.795_gen05000_ind0168.mid">Download</a></td></tr>
    <tr><td>20190202-184013</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.742</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-184013_rev19a36c0/emc_score0.742_gen05000_ind0085.mid">Download</a></td></tr>
    <tr><td>20190202-184013</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-184013_rev19a36c0/emc_score0.733_gen05000_ind0212.mid">Download</a></td></tr>
    <tr><td>20190202-190307</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.723</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-190307_rev19a36c0/emc_score0.723_gen05000_ind0181.mid">Download</a></td></tr>
    <tr><td>20190202-190307</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.730</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-190307_rev19a36c0/emc_score0.730_gen05000_ind0088.mid">Download</a></td></tr>
    <tr><td>20190202-193256</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.750</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-193256_rev19a36c0/emc_score0.750_gen05000_ind0438.mid">Download</a></td></tr>
    <tr><td>20190202-193256</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.755</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-193256_rev19a36c0/emc_score0.755_gen05000_ind0277.mid">Download</a></td></tr>
    <tr><td>20190202-200005</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.716</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-200005_rev19a36c0/emc_score0.716_gen05000_ind0012.mid">Download</a></td></tr>
    <tr><td>20190202-200005</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.721</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-200005_rev19a36c0/emc_score0.721_gen05000_ind0191.mid">Download</a></td></tr>
    <tr><td>20190202-204456</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.732</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-204456_rev19a36c0/emc_score0.732_gen05000_ind0212.mid">Download</a></td></tr>
    <tr><td>20190202-204456</td><td>Immediate</td><td>Diatonic</td><td>5000</td><td>0.718</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-diatonic/emc_time20190202-204456_rev19a36c0/emc_score0.718_gen05000_ind0343.mid">Download</a></td></tr>
    <tr><td>20190202-115206</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.729</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-115206_revd09408d/emc_score0.729_gen05000_ind0465.mid">Download</a></td></tr>
    <tr><td>20190202-115206</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.732</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-115206_revd09408d/emc_score0.732_gen05000_ind0050.mid">Download</a></td></tr>
    <tr><td>20190202-121602</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.739</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-121602_rev19a36c0/emc_score0.739_gen05000_ind0353.mid">Download</a></td></tr>
    <tr><td>20190202-121602</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.736</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-121602_rev19a36c0/emc_score0.736_gen05000_ind0022.mid">Download</a></td></tr>
    <tr><td>20190202-124149</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.751</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-124149_revd09408d/emc_score0.751_gen05000_ind0356.mid">Download</a></td></tr>
    <tr><td>20190202-124149</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.746</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-124149_revd09408d/emc_score0.746_gen05000_ind0348.mid">Download</a></td></tr>
    <tr><td>20190202-131352</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.759</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-131352_rev19a36c0/emc_score0.759_gen05000_ind0370.mid">Download</a></td></tr>
    <tr><td>20190202-131352</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.742</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-131352_rev19a36c0/emc_score0.742_gen05000_ind0174.mid">Download</a></td></tr>
    <tr><td>20190202-133847</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.744</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-133847_revd09408d/emc_score0.744_gen05000_ind0451.mid">Download</a></td></tr>
    <tr><td>20190202-133847</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.741</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-133847_revd09408d/emc_score0.741_gen05000_ind0256.mid">Download</a></td></tr>
    <tr><td>20190202-141933</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.723</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-141933_rev19a36c0/emc_score0.723_gen05000_ind0247.mid">Download</a></td></tr>
    <tr><td>20190202-141933</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.722</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-141933_rev19a36c0/emc_score0.722_gen05000_ind0462.mid">Download</a></td></tr>
    <tr><td>20190202-142717</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.739</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-142717_revd09408d/emc_score0.739_gen05000_ind0443.mid">Download</a></td></tr>
    <tr><td>20190202-142717</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-142717_revd09408d/emc_score0.733_gen05000_ind0025.mid">Download</a></td></tr>
    <tr><td>20190202-151522</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.747</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-151522_revd09408d/emc_score0.747_gen05000_ind0162.mid">Download</a></td></tr>
    <tr><td>20190202-151522</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.758</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-151522_revd09408d/emc_score0.758_gen05000_ind0029.mid">Download</a></td></tr>
    <tr><td>20190202-152450</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.728</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-152450_rev19a36c0/emc_score0.728_gen05000_ind0093.mid">Download</a></td></tr>
    <tr><td>20190202-152450</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.731</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-152450_rev19a36c0/emc_score0.731_gen05000_ind0305.mid">Download</a></td></tr>
    <tr><td>20190202-160417</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.740</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-160417_revd09408d/emc_score0.740_gen05000_ind0469.mid">Download</a></td></tr>
    <tr><td>20190202-160417</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.733</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-160417_revd09408d/emc_score0.733_gen05000_ind0022.mid">Download</a></td></tr>
    <tr><td>20190202-163647</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.739</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-163647_rev19a36c0/emc_score0.739_gen05000_ind0171.mid">Download</a></td></tr>
    <tr><td>20190202-163647</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.742</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-163647_rev19a36c0/emc_score0.742_gen05000_ind0246.mid">Download</a></td></tr>
    <tr><td>20190202-165345</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.756</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-165345_revd09408d/emc_score0.756_gen05000_ind0258.mid">Download</a></td></tr>
    <tr><td>20190202-165345</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.758</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-165345_revd09408d/emc_score0.758_gen05000_ind0151.mid">Download</a></td></tr>
    <tr><td>20190202-173809</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.763</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-173809_revd09408d/emc_score0.763_gen05000_ind0202.mid">Download</a></td></tr>
    <tr><td>20190202-173809</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.763</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-173809_revd09408d/emc_score0.763_gen05000_ind0122.mid">Download</a></td></tr>
    <tr><td>20190202-174942</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.731</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-174942_rev19a36c0/emc_score0.731_gen05000_ind0367.mid">Download</a></td></tr>
    <tr><td>20190202-174942</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.725</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-174942_rev19a36c0/emc_score0.725_gen05000_ind0206.mid">Download</a></td></tr>
    <tr><td>20190202-182857</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.830</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-182857_revd09408d/emc_score0.830_gen05000_ind0342.mid">Download</a></td></tr>
    <tr><td>20190202-182857</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.830</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-182857_revd09408d/emc_score0.830_gen05000_ind0108.mid">Download</a></td></tr>
    <tr><td>20190202-185631</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.711</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-185631_rev19a36c0/emc_score0.711_gen05000_ind0010.mid">Download</a></td></tr>
    <tr><td>20190202-185631</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.713</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-185631_rev19a36c0/emc_score0.713_gen05000_ind0138.mid">Download</a></td></tr>
    <tr><td>20190202-190855</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.743</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-190855_revd09408d/emc_score0.743_gen05000_ind0196.mid">Download</a></td></tr>
    <tr><td>20190202-190855</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.744</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-190855_revd09408d/emc_score0.744_gen05000_ind0462.mid">Download</a></td></tr>
    <tr><td>20190202-195917</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.697</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-195917_rev19a36c0/emc_score0.697_gen05000_ind0065.mid">Download</a></td></tr>
    <tr><td>20190202-195917</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.707</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-195917_rev19a36c0/emc_score0.707_gen05000_ind0021.mid">Download</a></td></tr>
    <tr><td>20190202-205102</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.740</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-205102_rev19a36c0/emc_score0.740_gen05000_ind0196.mid">Download</a></td></tr>
    <tr><td>20190202-205102</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.737</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-205102_rev19a36c0/emc_score0.737_gen05000_ind0037.mid">Download</a></td></tr>
    <tr><td>20190202-214332</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.739</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-214332_rev19a36c0/emc_score0.739_gen05000_ind0460.mid">Download</a></td></tr>
    <tr><td>20190202-214332</td><td>Immediate</td><td>Chromatic</td><td>5000</td><td>0.743</td><td><a href="midi/gecco2019/emc-gecco2019-immediate-chromatic/emc_time20190202-214332_rev19a36c0/emc_score0.743_gen05000_ind0214.mid">Download</a></td></tr>
    <tr><td>20190202-115200</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.821</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-115200_revd09408d/emc_score0.821_gen05000_ind0467.mid">Download</a></td></tr>
    <tr><td>20190202-115200</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.818</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-115200_revd09408d/emc_score0.818_gen05000_ind0172.mid">Download</a></td></tr>
    <tr><td>20190202-121554</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.812</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-121554_rev19a36c0/emc_score0.812_gen05000_ind0078.mid">Download</a></td></tr>
    <tr><td>20190202-121554</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.812</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-121554_rev19a36c0/emc_score0.812_gen05000_ind0027.mid">Download</a></td></tr>
    <tr><td>20190202-124041</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.820</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-124041_revd09408d/emc_score0.820_gen05000_ind0033.mid">Download</a></td></tr>
    <tr><td>20190202-124041</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.821</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-124041_revd09408d/emc_score0.821_gen05000_ind0152.mid">Download</a></td></tr>
    <tr><td>20190202-131303</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.805</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-131303_rev19a36c0/emc_score0.805_gen05000_ind0355.mid">Download</a></td></tr>
    <tr><td>20190202-131303</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.796</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-131303_rev19a36c0/emc_score0.796_gen05000_ind0299.mid">Download</a></td></tr>
    <tr><td>20190202-133257</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.780</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-133257_revd09408d/emc_score0.780_gen05000_ind0475.mid">Download</a></td></tr>
    <tr><td>20190202-133257</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.774</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-133257_revd09408d/emc_score0.774_gen05000_ind0169.mid">Download</a></td></tr>
    <tr><td>20190202-142611</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.813</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-142611_rev19a36c0/emc_score0.813_gen05000_ind0319.mid">Download</a></td></tr>
    <tr><td>20190202-142611</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.813</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-142611_rev19a36c0/emc_score0.813_gen05000_ind0083.mid">Download</a></td></tr>
    <tr><td>20190202-143140</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.819</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-143140_revd09408d/emc_score0.819_gen05000_ind0462.mid">Download</a></td></tr>
    <tr><td>20190202-143140</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.819</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-143140_revd09408d/emc_score0.819_gen05000_ind0263.mid">Download</a></td></tr>
    <tr><td>20190202-151726</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.815</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-151726_revd09408d/emc_score0.815_gen05000_ind0499.mid">Download</a></td></tr>
    <tr><td>20190202-151726</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.815</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-151726_revd09408d/emc_score0.815_gen05000_ind0419.mid">Download</a></td></tr>
    <tr><td>20190202-152418</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.817</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-152418_rev19a36c0/emc_score0.817_gen05000_ind0114.mid">Download</a></td></tr>
    <tr><td>20190202-152418</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.817</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-152418_rev19a36c0/emc_score0.817_gen05000_ind0009.mid">Download</a></td></tr>
    <tr><td>20190202-160640</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.815</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-160640_revd09408d/emc_score0.815_gen05000_ind0075.mid">Download</a></td></tr>
    <tr><td>20190202-160640</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.815</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-160640_revd09408d/emc_score0.815_gen05000_ind0284.mid">Download</a></td></tr>
    <tr><td>20190202-162433</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.784</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-162433_rev19a36c0/emc_score0.784_gen05000_ind0363.mid">Download</a></td></tr>
    <tr><td>20190202-162433</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-162433_rev19a36c0/emc_score0.785_gen05000_ind0124.mid">Download</a></td></tr>
    <tr><td>20190202-165328</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.834</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-165328_revd09408d/emc_score0.834_gen05000_ind0102.mid">Download</a></td></tr>
    <tr><td>20190202-165328</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.833</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-165328_revd09408d/emc_score0.833_gen05000_ind0144.mid">Download</a></td></tr>
    <tr><td>20190202-174052</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.800</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-174052_rev19a36c0/emc_score0.800_gen05000_ind0262.mid">Download</a></td></tr>
    <tr><td>20190202-174052</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.798</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-174052_rev19a36c0/emc_score0.798_gen05000_ind0328.mid">Download</a></td></tr>
    <tr><td>20190202-174528</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.804</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-174528_revd09408d/emc_score0.804_gen05000_ind0320.mid">Download</a></td></tr>
    <tr><td>20190202-174528</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.815</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-174528_revd09408d/emc_score0.815_gen05000_ind0492.mid">Download</a></td></tr>
    <tr><td>20190202-183415</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.817</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-183415_revd09408d/emc_score0.817_gen05000_ind0147.mid">Download</a></td></tr>
    <tr><td>20190202-183415</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.817</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-183415_revd09408d/emc_score0.817_gen05000_ind0332.mid">Download</a></td></tr>
    <tr><td>20190202-185034</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.775</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-185034_rev19a36c0/emc_score0.775_gen05000_ind0184.mid">Download</a></td></tr>
    <tr><td>20190202-185034</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.775</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-185034_rev19a36c0/emc_score0.775_gen05000_ind0012.mid">Download</a></td></tr>
    <tr><td>20190202-191849</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-191849_revd09408d/emc_score0.785_gen05000_ind0434.mid">Download</a></td></tr>
    <tr><td>20190202-191849</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-191849_revd09408d/emc_score0.785_gen05000_ind0395.mid">Download</a></td></tr>
    <tr><td>20190202-194941</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.813</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-194941_rev19a36c0/emc_score0.813_gen05000_ind0435.mid">Download</a></td></tr>
    <tr><td>20190202-194941</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.813</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-194941_rev19a36c0/emc_score0.813_gen05000_ind0251.mid">Download</a></td></tr>
    <tr><td>20190202-205231</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.771</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-205231_rev19a36c0/emc_score0.771_gen05000_ind0488.mid">Download</a></td></tr>
    <tr><td>20190202-205231</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.772</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-205231_rev19a36c0/emc_score0.772_gen05000_ind0390.mid">Download</a></td></tr>
    <tr><td>20190202-211848</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.817</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-211848_revd09408d/emc_score0.817_gen05000_ind0384.mid">Download</a></td></tr>
    <tr><td>20190202-211848</td><td>Music DSL</td><td>Shifted chromatic</td><td>5000</td><td>0.817</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-shiftedchromatic/emc_time20190202-211848_revd09408d/emc_score0.817_gen05000_ind0322.mid">Download</a></td></tr>
    <tr><td>20190202-115202</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.744</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-115202_revd09408d/emc_score0.744_gen05000_ind0366.mid">Download</a></td></tr>
    <tr><td>20190202-115202</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.744</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-115202_revd09408d/emc_score0.744_gen05000_ind0047.mid">Download</a></td></tr>
    <tr><td>20190202-121556</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.703</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-121556_rev19a36c0/emc_score0.703_gen05000_ind0249.mid">Download</a></td></tr>
    <tr><td>20190202-121556</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.702</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-121556_rev19a36c0/emc_score0.702_gen05000_ind0007.mid">Download</a></td></tr>
    <tr><td>20190202-123024</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.816</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-123024_revd09408d/emc_score0.816_gen05000_ind0114.mid">Download</a></td></tr>
    <tr><td>20190202-123024</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.811</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-123024_revd09408d/emc_score0.811_gen05000_ind0479.mid">Download</a></td></tr>
    <tr><td>20190202-130435</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.714</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-130435_rev19a36c0/emc_score0.714_gen05000_ind0224.mid">Download</a></td></tr>
    <tr><td>20190202-130435</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.714</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-130435_rev19a36c0/emc_score0.714_gen05000_ind0332.mid">Download</a></td></tr>
    <tr><td>20190202-131611</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.588</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-131611_revd09408d/emc_score0.588_gen05000_ind0263.mid">Download</a></td></tr>
    <tr><td>20190202-131611</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.554</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-131611_revd09408d/emc_score0.554_gen05000_ind0499.mid">Download</a></td></tr>
    <tr><td>20190202-134342</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.771</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-134342_rev19a36c0/emc_score0.771_gen05000_ind0162.mid">Download</a></td></tr>
    <tr><td>20190202-134342</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.757</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-134342_rev19a36c0/emc_score0.757_gen05000_ind0039.mid">Download</a></td></tr>
    <tr><td>20190202-134446</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.756</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-134446_revd09408d/emc_score0.756_gen05000_ind0284.mid">Download</a></td></tr>
    <tr><td>20190202-134446</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.759</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-134446_revd09408d/emc_score0.759_gen05000_ind0101.mid">Download</a></td></tr>
    <tr><td>20190202-142534</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.687</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-142534_revd09408d/emc_score0.687_gen05000_ind0219.mid">Download</a></td></tr>
    <tr><td>20190202-142534</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.687</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-142534_revd09408d/emc_score0.687_gen05000_ind0119.mid">Download</a></td></tr>
    <tr><td>20190202-144702</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.708</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-144702_rev19a36c0/emc_score0.708_gen05000_ind0269.mid">Download</a></td></tr>
    <tr><td>20190202-144702</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.710</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-144702_rev19a36c0/emc_score0.710_gen05000_ind0340.mid">Download</a></td></tr>
    <tr><td>20190202-145809</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.756</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-145809_revd09408d/emc_score0.756_gen05000_ind0423.mid">Download</a></td></tr>
    <tr><td>20190202-145809</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.756</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-145809_revd09408d/emc_score0.756_gen05000_ind0401.mid">Download</a></td></tr>
    <tr><td>20190202-152534</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.747</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-152534_rev19a36c0/emc_score0.747_gen05000_ind0343.mid">Download</a></td></tr>
    <tr><td>20190202-152534</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.748</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-152534_rev19a36c0/emc_score0.748_gen05000_ind0301.mid">Download</a></td></tr>
    <tr><td>20190202-153323</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.747</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-153323_revd09408d/emc_score0.747_gen05000_ind0064.mid">Download</a></td></tr>
    <tr><td>20190202-153323</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.746</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-153323_revd09408d/emc_score0.746_gen05000_ind0179.mid">Download</a></td></tr>
    <tr><td>20190202-161447</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.736</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-161447_revd09408d/emc_score0.736_gen05000_ind0083.mid">Download</a></td></tr>
    <tr><td>20190202-161447</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.744</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-161447_revd09408d/emc_score0.744_gen05000_ind0031.mid">Download</a></td></tr>
    <tr><td>20190202-161656</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.795</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-161656_rev19a36c0/emc_score0.795_gen05000_ind0057.mid">Download</a></td></tr>
    <tr><td>20190202-161656</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-161656_rev19a36c0/emc_score0.785_gen05000_ind0412.mid">Download</a></td></tr>
    <tr><td>20190202-165550</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.810</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-165550_revd09408d/emc_score0.810_gen05000_ind0415.mid">Download</a></td></tr>
    <tr><td>20190202-165550</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.805</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-165550_revd09408d/emc_score0.805_gen05000_ind0470.mid">Download</a></td></tr>
    <tr><td>20190202-172403</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.786</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-172403_rev19a36c0/emc_score0.786_gen05000_ind0406.mid">Download</a></td></tr>
    <tr><td>20190202-172403</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-172403_rev19a36c0/emc_score0.785_gen05000_ind0054.mid">Download</a></td></tr>
    <tr><td>20190202-174042</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.743</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-174042_revd09408d/emc_score0.743_gen05000_ind0260.mid">Download</a></td></tr>
    <tr><td>20190202-174042</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.729</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-174042_revd09408d/emc_score0.729_gen05000_ind0340.mid">Download</a></td></tr>
    <tr><td>20190202-183108</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.762</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-183108_rev19a36c0/emc_score0.762_gen05000_ind0058.mid">Download</a></td></tr>
    <tr><td>20190202-183108</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.762</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-183108_rev19a36c0/emc_score0.762_gen05000_ind0000.mid">Download</a></td></tr>
    <tr><td>20190202-191951</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.728</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-191951_rev19a36c0/emc_score0.728_gen05000_ind0237.mid">Download</a></td></tr>
    <tr><td>20190202-191951</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.726</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-191951_rev19a36c0/emc_score0.726_gen05000_ind0333.mid">Download</a></td></tr>
    <tr><td>20190202-200725</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.745</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-200725_rev19a36c0/emc_score0.745_gen05000_ind0093.mid">Download</a></td></tr>
    <tr><td>20190202-200725</td><td>Music DSL</td><td>Diatonic</td><td>5000</td><td>0.745</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-diatonic/emc_time20190202-200725_rev19a36c0/emc_score0.745_gen05000_ind0227.mid">Download</a></td></tr>
    <tr><td>20190202-115158</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.789</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-115158_revd09408d/emc_score0.789_gen05000_ind0086.mid">Download</a></td></tr>
    <tr><td>20190202-115158</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-115158_revd09408d/emc_score0.785_gen05000_ind0359.mid">Download</a></td></tr>
    <tr><td>20190202-121550</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.732</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-121550_rev19a36c0/emc_score0.732_gen05000_ind0099.mid">Download</a></td></tr>
    <tr><td>20190202-121550</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.720</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-121550_rev19a36c0/emc_score0.720_gen05000_ind0444.mid">Download</a></td></tr>
    <tr><td>20190202-123404</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.749</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-123404_revd09408d/emc_score0.749_gen05000_ind0400.mid">Download</a></td></tr>
    <tr><td>20190202-123404</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.753</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-123404_revd09408d/emc_score0.753_gen05000_ind0092.mid">Download</a></td></tr>
    <tr><td>20190202-131817</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.740</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-131817_rev19a36c0/emc_score0.740_gen05000_ind0269.mid">Download</a></td></tr>
    <tr><td>20190202-131817</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.741</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-131817_rev19a36c0/emc_score0.741_gen05000_ind0075.mid">Download</a></td></tr>
    <tr><td>20190202-133200</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.771</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-133200_revd09408d/emc_score0.771_gen05000_ind0277.mid">Download</a></td></tr>
    <tr><td>20190202-133200</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.775</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-133200_revd09408d/emc_score0.775_gen05000_ind0224.mid">Download</a></td></tr>
    <tr><td>20190202-142035</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.736</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-142035_rev19a36c0/emc_score0.736_gen05000_ind0334.mid">Download</a></td></tr>
    <tr><td>20190202-142035</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.742</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-142035_rev19a36c0/emc_score0.742_gen05000_ind0207.mid">Download</a></td></tr>
    <tr><td>20190202-142703</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.788</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-142703_revd09408d/emc_score0.788_gen05000_ind0171.mid">Download</a></td></tr>
    <tr><td>20190202-142703</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.788</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-142703_revd09408d/emc_score0.788_gen05000_ind0180.mid">Download</a></td></tr>
    <tr><td>20190202-151202</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.793</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-151202_revd09408d/emc_score0.793_gen05000_ind0156.mid">Download</a></td></tr>
    <tr><td>20190202-151202</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.794</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-151202_revd09408d/emc_score0.794_gen05000_ind0286.mid">Download</a></td></tr>
    <tr><td>20190202-152623</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.787</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-152623_rev19a36c0/emc_score0.787_gen05000_ind0067.mid">Download</a></td></tr>
    <tr><td>20190202-152623</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.787</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-152623_rev19a36c0/emc_score0.787_gen05000_ind0058.mid">Download</a></td></tr>
    <tr><td>20190202-160611</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.777</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-160611_revd09408d/emc_score0.777_gen05000_ind0381.mid">Download</a></td></tr>
    <tr><td>20190202-160611</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.787</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-160611_revd09408d/emc_score0.787_gen05000_ind0425.mid">Download</a></td></tr>
    <tr><td>20190202-163326</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.796</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-163326_rev19a36c0/emc_score0.796_gen05000_ind0471.mid">Download</a></td></tr>
    <tr><td>20190202-163326</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.795</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-163326_rev19a36c0/emc_score0.795_gen05000_ind0146.mid">Download</a></td></tr>
    <tr><td>20190202-165924</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.790</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-165924_revd09408d/emc_score0.790_gen05000_ind0296.mid">Download</a></td></tr>
    <tr><td>20190202-165924</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.790</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-165924_revd09408d/emc_score0.790_gen05000_ind0315.mid">Download</a></td></tr>
    <tr><td>20190202-174439</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.726</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-174439_revd09408d/emc_score0.726_gen05000_ind0356.mid">Download</a></td></tr>
    <tr><td>20190202-174439</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.738</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-174439_revd09408d/emc_score0.738_gen05000_ind0167.mid">Download</a></td></tr>
    <tr><td>20190202-174740</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.713</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-174740_rev19a36c0/emc_score0.713_gen05000_ind0067.mid">Download</a></td></tr>
    <tr><td>20190202-174740</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.716</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-174740_rev19a36c0/emc_score0.716_gen05000_ind0031.mid">Download</a></td></tr>
    <tr><td>20190202-183510</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-183510_revd09408d/emc_score0.785_gen05000_ind0126.mid">Download</a></td></tr>
    <tr><td>20190202-183510</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.785</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-183510_revd09408d/emc_score0.785_gen05000_ind0348.mid">Download</a></td></tr>
    <tr><td>20190202-184639</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.790</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-184639_rev19a36c0/emc_score0.790_gen05000_ind0314.mid">Download</a></td></tr>
    <tr><td>20190202-184639</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.783</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-184639_rev19a36c0/emc_score0.783_gen05000_ind0121.mid">Download</a></td></tr>
    <tr><td>20190202-191822</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.712</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-191822_revd09408d/emc_score0.712_gen05000_ind0416.mid">Download</a></td></tr>
    <tr><td>20190202-191822</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.709</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-191822_revd09408d/emc_score0.709_gen05000_ind0386.mid">Download</a></td></tr>
    <tr><td>20190202-194303</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.796</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-194303_rev19a36c0/emc_score0.796_gen05000_ind0370.mid">Download</a></td></tr>
    <tr><td>20190202-194303</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.798</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-194303_rev19a36c0/emc_score0.798_gen05000_ind0010.mid">Download</a></td></tr>
    <tr><td>20190202-204934</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.755</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-204934_rev19a36c0/emc_score0.755_gen05000_ind0097.mid">Download</a></td></tr>
    <tr><td>20190202-204934</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.757</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-204934_rev19a36c0/emc_score0.757_gen05000_ind0177.mid">Download</a></td></tr>
    <tr><td>20190202-211846</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.789</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-211846_revd09408d/emc_score0.789_gen05000_ind0219.mid">Download</a></td></tr>
    <tr><td>20190202-211846</td><td>Music DSL</td><td>Chromatic</td><td>5000</td><td>0.787</td><td><a href="midi/gecco2019/emc-gecco2019-musicdsl-chromatic/emc_time20190202-211846_revd09408d/emc_score0.787_gen05000_ind0225.mid">Download</a></td></tr>
  </tbody>
      <tfoot>
      </tfoot>
    </table>
    