<table style="width:100%" class="sortable">
      <thead>
        <tr>
          <th><a href="#a">Time stamp</a></th>
          <th><a href="#a">Operator distribution</a></th>
          <th><a href="#a">Operator rates</a></th>
          <th><a href="#a">Generation</a></th>
          <th><a href="#a">Grade</a></th>
          <th><a href="#a">Download link</a></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>20170525-230211</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.742</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170525-230211_rev027969a/emc_score0.742_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-230215</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.734</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170525-230215_rev027969a/emc_score0.734_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-230220</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.649</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170525-230220_rev027969a/emc_score0.649_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-230223</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.728</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170525-230223_rev027969a/emc_score0.728_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-234949</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.735</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170525-234949_rev027969a/emc_score0.735_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-234954</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.698</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170525-234954_rev027969a/emc_score0.698_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-004021</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.704</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-004021_rev027969a/emc_score0.704_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-004149</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.793</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-004149_rev027969a/emc_score0.793_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-004243</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.713</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-004243_rev027969a/emc_score0.713_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-004656</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.728</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-004656_rev027969a/emc_score0.728_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-012142</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.742</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-012142_rev027969a/emc_score0.742_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-012540</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.610</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-012540_rev027969a/emc_score0.610_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-021512</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.767</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-021512_rev027969a/emc_score0.767_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-022003</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.751</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-022003_rev027969a/emc_score0.751_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-022202</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.568</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-022202_rev027969a/emc_score0.568_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-025653</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.744</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-025653_rev027969a/emc_score0.744_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-030250</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.669</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-030250_rev027969a/emc_score0.669_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-031944</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.721</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-031944_rev027969a/emc_score0.721_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-043620</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.681</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-043620_rev027969a/emc_score0.681_gen09999.mid">Download</a></td></tr>
    <tr><td>20170526-044403</td><td>Adaptive</td><td>Adaptive individual</td><td>9999</td><td>0.677</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveIndividualRates/emc_time20170526-044403_rev027969a/emc_score0.677_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-015832</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.677</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-015832_rev162adac/emc_score0.677_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-125015</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.691</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-125015_revf4426ce/emc_score0.691_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-135812</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.672</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-135812_revf4426ce/emc_score0.672_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-150422</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.739</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-150422_revf4426ce/emc_score0.739_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-163841</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.677</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-163841_revf4426ce/emc_score0.677_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-175933</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.711</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-175933_revf4426ce/emc_score0.711_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-190914</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.726</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-190914_revf4426ce/emc_score0.726_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-202310</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.591</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-202310_revf4426ce/emc_score0.591_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-213047</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.726</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-213047_revf4426ce/emc_score0.726_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-233918</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.727</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170523-233918_revf4426ce/emc_score0.727_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-005633</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.722</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-005633_revf4426ce/emc_score0.722_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-020211</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.726</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-020211_revf4426ce/emc_score0.726_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-030707</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.632</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-030707_revf4426ce/emc_score0.632_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-045258</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.726</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-045258_revf4426ce/emc_score0.726_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-064013</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.720</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-064013_revf4426ce/emc_score0.720_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-082314</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.730</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-082314_revf4426ce/emc_score0.730_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-101250</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.675</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-101250_revf4426ce/emc_score0.675_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-121008</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.700</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-121008_revf4426ce/emc_score0.700_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-135629</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.684</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-135629_revf4426ce/emc_score0.684_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-153830</td><td>Adaptive</td><td>Constant</td><td>9999</td><td>0.662</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-constantRates/emc_time20170524-153830_revf4426ce/emc_score0.662_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-175843</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.657</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-175843_rev027969a/emc_score0.657_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-175851</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.739</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-175851_rev027969a/emc_score0.739_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-175856</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.593</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-175856_rev027969a/emc_score0.593_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-175900</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.603</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-175900_rev027969a/emc_score0.603_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-175904</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.713</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-175904_rev027969a/emc_score0.713_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-175908</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.646</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-175908_rev027969a/emc_score0.646_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-192611</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.713</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-192611_rev027969a/emc_score0.713_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-192723</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.779</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-192723_rev027969a/emc_score0.779_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-192949</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.746</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-192949_rev027969a/emc_score0.746_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-193123</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.770</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-193123_rev027969a/emc_score0.770_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-193732</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.692</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-193732_rev027969a/emc_score0.692_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-195255</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.654</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-195255_rev027969a/emc_score0.654_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-205529</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.750</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-205529_rev027969a/emc_score0.750_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-205543</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.776</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-205543_rev027969a/emc_score0.776_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-205820</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.761</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-205820_rev027969a/emc_score0.761_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-210217</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.693</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-210217_rev027969a/emc_score0.693_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-210658</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.689</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-210658_rev027969a/emc_score0.689_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-212146</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.814</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-212146_rev027969a/emc_score0.814_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-222504</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.654</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-222504_rev027969a/emc_score0.654_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-222630</td><td>Adaptive</td><td>Adaptive global</td><td>9999</td><td>0.689</td><td><a href="midi/synasc2018/emc-synasc2018-adaptiveDist-adaptiveGlobalRates/emc_time20170525-222630_rev027969a/emc_score0.689_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-172144</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.795</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170524-172144_revf4426ce/emc_score0.795_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-191246</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.640</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170524-191246_revf4426ce/emc_score0.640_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-210034</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.743</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170524-210034_revf4426ce/emc_score0.743_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-225323</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.812</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170524-225323_revf4426ce/emc_score0.812_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-005023</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.803</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-005023_revf4426ce/emc_score0.803_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-023749</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.704</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-023749_revf4426ce/emc_score0.704_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-043944</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.628</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-043944_revf4426ce/emc_score0.628_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-071515</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.642</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-071515_revf4426ce/emc_score0.642_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-090008</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.580</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-090008_revf4426ce/emc_score0.580_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-090610</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.611</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-090610_revf4426ce/emc_score0.611_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-090612</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.679</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-090612_revf4426ce/emc_score0.679_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-090615</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.663</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-090615_revf4426ce/emc_score0.663_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-105655</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.720</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-105655_revf4426ce/emc_score0.720_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-105736</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.701</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-105736_revf4426ce/emc_score0.701_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-105954</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.653</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-105954_revf4426ce/emc_score0.653_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-112008</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.666</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-112008_revf4426ce/emc_score0.666_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-124813</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.649</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-124813_revf4426ce/emc_score0.649_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-125255</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.711</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-125255_revf4426ce/emc_score0.711_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-141833</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.661</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-141833_revf4426ce/emc_score0.661_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-154734</td><td>Standard</td><td>Adaptive individual</td><td>9999</td><td>0.645</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveIndividualRates/emc_time20170525-154734_revf4426ce/emc_score0.645_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-015821</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.763</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-015821_rev162adac/emc_score0.763_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-125003</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.615</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-125003_revf4426ce/emc_score0.615_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-135847</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.724</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-135847_revf4426ce/emc_score0.724_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-150658</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.694</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-150658_revf4426ce/emc_score0.694_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-163207</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.659</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-163207_revf4426ce/emc_score0.659_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-175211</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.760</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-175211_revf4426ce/emc_score0.760_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-190304</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.569</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-190304_revf4426ce/emc_score0.569_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-201545</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.631</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-201545_revf4426ce/emc_score0.631_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-212625</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.675</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-212625_revf4426ce/emc_score0.675_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-224205</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.762</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-224205_revf4426ce/emc_score0.762_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-235137</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.713</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170523-235137_revf4426ce/emc_score0.713_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-010650</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.746</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-010650_revf4426ce/emc_score0.746_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-021254</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.780</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-021254_revf4426ce/emc_score0.780_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-032326</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.657</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-032326_revf4426ce/emc_score0.657_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-050647</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.768</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-050647_revf4426ce/emc_score0.768_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-082158</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.595</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-082158_revf4426ce/emc_score0.595_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-101530</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.734</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-101530_revf4426ce/emc_score0.734_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-115928</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.700</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-115928_revf4426ce/emc_score0.700_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-134707</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.599</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-134707_revf4426ce/emc_score0.599_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-153202</td><td>Standard</td><td>Constant</td><td>9999</td><td>0.693</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-constantRates/emc_time20170524-153202_revf4426ce/emc_score0.693_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-015842</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.720</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170523-015842_rev162adac/emc_score0.720_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-033208</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.771</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170523-033208_rev162adac/emc_score0.771_gen09999.mid">Download</a></td></tr>
    <tr><td>20170523-045426</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.608</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170523-045426_rev162adac/emc_score0.608_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-031544</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.703</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-031544_revf4426ce/emc_score0.703_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-045900</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.686</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-045900_revf4426ce/emc_score0.686_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-065024</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.747</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-065024_revf4426ce/emc_score0.747_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-083926</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.739</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-083926_revf4426ce/emc_score0.739_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-102531</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.540</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-102531_revf4426ce/emc_score0.540_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-123811</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.810</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-123811_revf4426ce/emc_score0.810_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-142153</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.765</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-142153_revf4426ce/emc_score0.765_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-160914</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.768</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-160914_revf4426ce/emc_score0.768_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-172140</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.633</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-172140_revf4426ce/emc_score0.633_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-180808</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.768</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-180808_revf4426ce/emc_score0.768_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-190058</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.693</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-190058_revf4426ce/emc_score0.693_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-204611</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.652</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-204611_revf4426ce/emc_score0.652_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-205444</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.662</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-205444_revf4426ce/emc_score0.662_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-222314</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.681</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-222314_revf4426ce/emc_score0.681_gen09999.mid">Download</a></td></tr>
    <tr><td>20170524-222900</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.714</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170524-222900_revf4426ce/emc_score0.714_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-000538</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.704</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170525-000538_revf4426ce/emc_score0.704_gen09999.mid">Download</a></td></tr>
    <tr><td>20170525-042502</td><td>Standard</td><td>Adaptive global</td><td>9999</td><td>0.818</td><td><a href="midi/synasc2018/emc-synasc2018-standardDist-adaptiveGlobalRates/emc_time20170525-042502_revf4426ce/emc_score0.818_gen09999.mid">Download</a></td></tr>
  </tbody>
      <tfoot>
      </tfoot>
    </table>
    